Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.

Drop editorconfig EOL configuration (#5316)
  .editorconfig
Labels: config:editorconfig

Update kya.json (#5315)
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/schemas/json/kya.json
Labels: ci

Improve sponsor image, fix dark scheme visual artifacts (#5318)
  src/img/sponsor.png
Labels: WARNING_AspNetFiles

add Espanso schemas (#5319)
  src/api/json/catalog.json
Labels: none

feat(renovate): add "inherited" config
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/renovate-inherited-schema.json
Labels: none

Add Applicant Profile Protocol (APP) schema
  src/api/json/catalog.json
Labels: none

feat(renovate): add "inherited" config (#5321)
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/renovate-inherited-schema.json
Labels: none

Add Applicant Profile Protocol (APP) schema (#5322)
  src/api/json/catalog.json
Labels: none

Add AWS Amplify Console build schema (amplify.json), positive test, and catalog entry.
  src/api/json/catalog.json
  src/schemas/json/amplify.json
  src/test/amplify/amplify.yml
Labels: none

feat: add Renovate 42's JSON Schema
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/renovate-42.json
  src/schemas/json/renovate-global-schema-42.json
  src/schemas/json/renovate-inherited-schema-42.json
Labels: none

Add Claude Code Keybindings schema
  src/api/json/catalog.json
  src/negative_test/claude-code-keybindings/extra-properties.json
  src/negative_test/claude-code-keybindings/invalid-action.json
  src/negative_test/claude-code-keybindings/invalid-command-pattern.json
  src/negative_test/claude-code-keybindings/invalid-context.json
  src/negative_test/claude-code-keybindings/missing-bindings.json
  src/negative_test/claude-code-keybindings/missing-context.json
  src/negative_test/claude-code-keybindings/wrong-bindings-type.json
  src/schemas/json/claude-code-keybindings.json
  src/test/claude-code-keybindings/all-contexts.json
  src/test/claude-code-keybindings/basic-bindings.json
  src/test/claude-code-keybindings/chord-bindings.json
  src/test/claude-code-keybindings/minimal.json
  src/test/claude-code-keybindings/unbind-and-command.json
  src/test/claude-code-keybindings/with-schema.json
Labels: none

fix(tsconfig): Allow "module" Node20 (capital N)
  src/schemas/json/tsconfig.json
  src/test/tsconfig/tsconfig-node20.json
Labels: none

Add OpenSRM (Open Service Reliability Manifest) schema
  src/api/json/catalog.json
  src/negative_test/opensrm/invalid-duration.yaml
  src/negative_test/opensrm/invalid-kind.yaml
  src/negative_test/opensrm/invalid-target.yaml
  src/negative_test/opensrm/invalid-type.yaml
  src/negative_test/opensrm/missing-name.yaml
  src/schema-validation.jsonc
  src/schemas/json/opensrm.json
  src/test/opensrm/ai-gate-full.yaml
  src/test/opensrm/ai-gate-minimal.yaml
  src/test/opensrm/api-full.yaml
  src/test/opensrm/api-minimal.yaml
  src/test/opensrm/stream.yaml
  src/test/opensrm/template.yaml
  src/test/opensrm/with-template.yaml
  src/test/opensrm/worker.yaml
Labels: none

Add AWS Amplify Console build schema (amplify.json), positive test, and catalog entry. (#5323)
  src/api/json/catalog.json
  src/schemas/json/amplify.json
  src/test/amplify/amplify.yml
Labels: none

feat: add Renovate 42's JSON Schema (#5324)
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/renovate-42.json
  src/schemas/json/renovate-global-schema-42.json
  src/schemas/json/renovate-inherited-schema-42.json
Labels: none

fix(tsconfig): Allow "module" Node20 (capital N) (#5326)
  src/schemas/json/tsconfig.json
  src/test/tsconfig/tsconfig-node20.json
Labels: none

Add OpenSRM (Open Service Reliability Manifest) schema (#5327)
  src/api/json/catalog.json
  src/negative_test/opensrm/invalid-duration.yaml
  src/negative_test/opensrm/invalid-kind.yaml
  src/negative_test/opensrm/invalid-target.yaml
  src/negative_test/opensrm/invalid-type.yaml
  src/negative_test/opensrm/missing-name.yaml
  src/schema-validation.jsonc
  src/schemas/json/opensrm.json
  src/test/opensrm/ai-gate-full.yaml
  src/test/opensrm/ai-gate-minimal.yaml
  src/test/opensrm/api-full.yaml
  src/test/opensrm/api-minimal.yaml
  src/test/opensrm/stream.yaml
  src/test/opensrm/template.yaml
  src/test/opensrm/with-template.yaml
  src/test/opensrm/worker.yaml
Labels: none

youtrack-app. Add a new endpoint PROJECT_TAB
  .github/CODEOWNERS
  src/schemas/json/youtrack-app.json
Labels: ci

Replace octocat image png -> svg
  src/css/site.css
  src/img/octocat.png
  src/json.cshtml
Labels: WARNING_AspNetFiles

Replace octocat image png -> svg (#5329)
  src/css/site.css
  src/img/octocat.png
  src/json.cshtml
Labels: WARNING_AspNetFiles

Update Claude Code settings schema for v2.1.29
  src/negative_test/claude-code-settings/invalid-enum-values.json
  src/negative_test/claude-code-settings/wrong-property-types.json
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/hooks-complete.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Add hostPattern marketplace tests for Claude Code settings
  src/negative_test/claude-code-settings/invalid-marketplace-host-pattern.json
  src/test/claude-code-settings/marketplace-host-pattern.json
Labels: none

Format and refine Claude Code settings tests
  src/negative_test/claude-code-settings/invalid-marketplace-host-pattern.json
  src/negative_test/claude-code-settings/wrong-property-types.json
  src/test/claude-code-settings/hooks-complete.json
  src/test/claude-code-settings/marketplace-host-pattern.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Add bg-dependency-aware-stop-order parameter
  src/schemas/json/mtad.json
Labels: none

Add claude-code-keybindings to CODEOWNERS
  .github/CODEOWNERS
Labels: ci

youtrack-app. Add a new endpoint PROJECT_TAB (#5328)
  .github/CODEOWNERS
  src/schemas/json/youtrack-app.json
Labels: ci

Add Claude Code Keybindings schema (#5325)
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/claude-code-keybindings/extra-properties.json
  src/negative_test/claude-code-keybindings/invalid-action.json
  src/negative_test/claude-code-keybindings/invalid-command-pattern.json
  src/negative_test/claude-code-keybindings/invalid-context.json
  src/negative_test/claude-code-keybindings/missing-bindings.json
  src/negative_test/claude-code-keybindings/missing-context.json
  src/negative_test/claude-code-keybindings/wrong-bindings-type.json
  src/schemas/json/claude-code-keybindings.json
  src/test/claude-code-keybindings/all-contexts.json
  src/test/claude-code-keybindings/basic-bindings.json
  src/test/claude-code-keybindings/chord-bindings.json
  src/test/claude-code-keybindings/minimal.json
  src/test/claude-code-keybindings/unbind-and-command.json
  src/test/claude-code-keybindings/with-schema.json
Labels: ci

Add new version of the aio connector metadata schema
  src/api/json/catalog.json
  src/schemas/json/aio-connector-metadata-10.0-preview.json
Labels: none

10
  src/schemas/json/aio-connector-metadata-10.0-preview.json
Labels: none

mandatory action types
  src/schemas/json/aio-connector-metadata-10.0-preview.json
Labels: none

Require "destinations" field for any specified "event", "dataset" and/or "stream"
  src/schemas/json/aio-connector-metadata-10.0-preview.json
Labels: none

[claude-code-settings] Update `permissionRule` pattern in JSON schema
  src/schemas/json/claude-code-settings.json
Labels: none

Update test file: Add MCPSearch and LSP permissions, remove TodoWrite
  src/test/claude-code-settings/permissions-advanced.json
Labels: none

Fix JSON pattern syntax in claude-code-settings.json
  src/schemas/json/claude-code-settings.json
Labels: none

Add dataset_triggering options and improve documentation
  src/schemas/json/starlake.json
Labels: none

feat(claude-code-settings): sync to Claude Code v2.1.29
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

update description
  src/schemas/json/starlake.json
Labels: none

Fix typo
  src/schemas/json/starlake.json
Labels: none

Update permissionRule pattern in JSON schema
  src/schemas/json/claude-code-settings.json
Labels: none

Update permissionRule pattern in JSON schema
  src/schemas/json/claude-code-settings.json
Labels: none
