Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.

Add `buf.lock` support
  src/api/json/catalog.json
  src/schemas/json/buf.lock.json
  src/test/buf.lock/buf.lock.v1.yaml
  src/test/buf.lock/buf.lock.v2.yaml
Labels: none

Fix lint
  src/api/json/catalog.json
Labels: none

Add `buf.lock` support (#5297)
  src/api/json/catalog.json
  src/schemas/json/buf.lock.json
  src/test/buf.lock/buf.lock.v1.yaml
  src/test/buf.lock/buf.lock.v2.yaml
Labels: none

Update ty's JSON schema
  src/schemas/json/ty.json
Labels: none

Update ty's JSON schema (#5299)
  src/schemas/json/ty.json
Labels: none

Update Claude Code settings schema with missing settings and fixes
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Add undocumented PostToolUseFailure and PermissionRequest hooks
  src/schemas/json/claude-code-settings.json
Labels: none

Add BMML (Business Model Markup Language) schema
  src/negative_test/bmml.yaml
  src/test/bmml.yaml
Labels: none

Add BMML (Business Model Markup Language) schema
  src/api/json/catalog.json
Labels: none

style: fix prettier formatting (single quotes)
  src/negative_test/bmml.yaml
  src/test/bmml.yaml
Labels: none

Add documentation links to hooks, permissions, sandbox, plugins, MCP settings
  src/schemas/json/claude-code-settings.json
Labels: none

feat: add new properties and descriptions to Traefik v3 JSON schema and example
  src/schemas/json/traefik-v3.json
  src/test/traefik-v3/example.json
Labels: none

add pgxgen configuration file schema
  src/api/json/catalog.json
Labels: none

feat: add new properties and descriptions to Traefik v3 JSON schema and example (#5302)
  src/schemas/json/traefik-v3.json
  src/test/traefik-v3/example.json
Labels: none

add pgxgen configuration file schema (#5303)
  src/api/json/catalog.json
Labels: none

update dotnet download to cdn endpoint
  src/negative_test/dotnet-releases-index/invalid-null-eol-date.json
  src/test/dotnet-releases-index/latest.json
Labels: none

feat(rumdl): host schema locally for direct URL access
  src/api/json/catalog.json
  src/schemas/json/rumdl.json
Labels: none

Add absolute and homedir path examples to permission rules
  src/schemas/json/claude-code-settings.json
Labels: none

feat: specify type of array items
  src/schemas/json/htmlhint.json
Labels: none

Update Claude Code settings schema with missing settings and fixes (#5300)
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

feat: add Hugo import version property
  src/schemas/json/hugo.json
Labels: none

add codex config.toml schema
  src/api/json/catalog.json
Labels: none

Add editorconfig for web and packages .config
  .editorconfig
Labels: config:editorconfig

Remove excessive dead whitespace from `vwd.webinfo`
  src/vwd.webinfo
Labels: WARNING_AspNetFiles

Introduce dark mode
  src/_Layout.cshtml
  src/css/site.css
Labels: WARNING_AspNetFiles

Update Claude Code settings schema for v2.1.19
  src/schemas/json/claude-code-settings.json
Labels: none

Add documentation links to more schema properties
  src/schemas/json/claude-code-settings.json
Labels: none

fix: various catalog url fixes
  src/api/json/catalog.json
Labels: none

Add editorconfig for web and packages .config (#5311)
  .editorconfig
Labels: config:editorconfig

Introduce dark mode (#5313)
  src/_Layout.cshtml
  src/css/site.css
Labels: WARNING_AspNetFiles

Update Claude Code settings schema for v2.1.19 (#5314)
  src/schemas/json/claude-code-settings.json
Labels: none

Drop editorconfig EOL configuration
  .editorconfig
Labels: config:editorconfig

Replace API image with JSON Schema logo
  src/img/api.png
  src/img/json-schema-logo-blue.svg
  src/json.cshtml
Labels: WARNING_AspNetFiles

Update kya.json
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/schemas/json/kya.json
Labels: ci

Improve sponsor image, fix dark scheme visual artifacts
  src/img/sponsor.png
Labels: WARNING_AspNetFiles

add espanso yaml schemas
  src/api/json/catalog.json
Labels: none

fix match.yml description
  src/api/json/catalog.json
Labels: none

Fix formatting for `partial-dfc.json` file - Improve formatting and readability of the JSON schema. - Correct indentation.
  src/schemas/json/partial-dfc.json
Labels: none

Add catalog records for `docstring-format-checker` and `dfc` schemas - Introduce schema for `docstring-format-checker` with description and URL. - Introduce schema for `dfc` with description and URL.
  src/api/json/catalog.json
Labels: none

Replace API image with JSON Schema logo (#5317)
  src/img/api.png
  src/img/json-schema-logo-blue.svg
  src/json.cshtml
Labels: WARNING_AspNetFiles
