Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

Fix catalog to unmap `app.json` to Expo
  src/api/json/catalog.json
Labels: none

Fix catalog to unmap `app.json` to Expo (#5556)
  src/api/json/catalog.json
Labels: none

Fix overly broad Ansible `defaults/*` pattern.
  src/api/json/catalog.json
Labels: none

Fix overly broad Ansible `defaults/*` pattern. (#5557)
  src/api/json/catalog.json
Labels: none

Fix issues
  src/schema-validation.jsonc
  src/schemas/json/nodemon.json
Labels: none

Remove spurious comment
  src/schemas/json/package.json
Labels: none

Add JSON schema for Rustdoc lints and update Cargo schema references (#5547)
  src/schema-validation.jsonc
  src/schemas/json/cargo-lints-cargo.json
  src/schemas/json/cargo-lints-clippy.json
  src/schemas/json/cargo-lints-rust.json
  src/schemas/json/cargo-lints-rustdoc.json
  src/schemas/json/cargo.json
Labels: none

Add nodemonConfig to package.json schema (#5555)
  src/schema-validation.jsonc
  src/schemas/json/nodemon.json
  src/schemas/json/package.json
  src/test/nodemon/nodemon-alt-types.json
  src/test/nodemon/nodemon.json
  src/test/package/nodemonConfig.json
Labels: none

Update minor and patch dependencies
  .pre-commit-config.yaml
  cli.js
  package-lock.json
  package.json
Labels: cli.js

Update minor and patch dependencies
  .pre-commit-config.yaml
  package-lock.json
  package.json
Labels: cli.js

Update major versions of dependencies that still support Node v20
  .github/workflows/auto-update.yml
  .github/workflows/validate.yml
  package-lock.json
  package.json
Labels: ci, cli.js

Downgrade to `@types/node@20`
  package-lock.json
  package.json
Labels: cli.js

This is a combination of 2 commits. Fix version and formats
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/test/prek/prek.toml
  src/test/sourcery_yaml_schema/.sourcery-init.yaml
  src/test/tox/tox-product.toml
Labels: cli.js

Fix Prettier schema URL in `package.json`
  src/schemas/json/package.json
Labels: none

Remove deprecated codepaths
  cli.js
  package.json
Labels: cli.js

Specify `--fix` as boolean directly to minimist
  cli.js
Labels: cli.js

Update prek's schema to 0.3.8
  src/schemas/json/prek.json
Labels: none

Add to CODEOWNERS
  .github/CODEOWNERS
Labels: ci

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.
