Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.

chore: relax pytest ini schema
  src/schemas/json/partial-pytest.json
Labels: none

Update drupal-config.json (#5138)
  src/schemas/json/drupal-config.json
  src/test/drupal-config/drupal-config.yml
Labels: none

chore: relax pytest ini schema (#5139)
  src/schemas/json/partial-pytest.json
Labels: none

Update yamllint schema
  src/schema-validation.jsonc
  src/schemas/json/yamllint.json
Labels: none

update: tombi.
  src/schemas/json/tombi.json
Labels: none

fix: update tombi schema reference URL to use HTTPS
  src/schemas/json/pyproject.json
Labels: none

feat: add uint64 support to schema validation and update tombi.json format
  src/schema-validation.jsonc
Labels: none

Add missing mypy options: strict_equality_for_none and fixed_format_cache
  src/schemas/json/partial-mypy.json
  src/test/pyproject/mypy-01.toml
Labels: none

feat: add src/schema-validation.jsonc CODEOWNERS.
  .github/CODEOWNERS
Labels: ci

fix: Allow additionalProperties in pytest LegacyConfig
  src/schemas/json/partial-pytest.json
Labels: none

Add new parameters to mtad.json
  src/schemas/json/mtad.json
Labels: none

Reuse mtad parameters in mtaext and mta
  src/schemas/json/mta.json
  src/schemas/json/mtaext.json
Labels: none

Update ty's JSON schema
  src/schemas/json/ty.json
Labels: none

Add XSA platform paratemers and fix validation
  src/schema-validation.jsonc
  src/schemas/json/mta.json
  src/schemas/json/mtad.json
  src/schemas/json/mtaext.json
Labels: none

Fix url from venvironment schema (should point to the new 4.2 version)
  src/api/json/catalog.json
Labels: none

Fix url from venvironment schema (should point to the new 4.2 version) (#5151)
  src/api/json/catalog.json
Labels: none

Update ty's JSON schema (#5148)
  src/schemas/json/ty.json
Labels: none

Add missing mypy options: strict_equality_for_none and fixed_format_cache (#5142)
  src/schemas/json/partial-mypy.json
  src/test/pyproject/mypy-01.toml
Labels: none

Update yamllint schema (#5140)
  src/schema-validation.jsonc
  src/schemas/json/yamllint.json
Labels: none

fix: Allow additionalProperties in pytest LegacyConfig (#5146)
  src/schemas/json/partial-pytest.json
Labels: none

feat: add src/schema-validation.jsonc CODEOWNERS. (#5143)
  .github/CODEOWNERS
Labels: ci

update: tombi. (#5141)
  src/schema-validation.jsonc
  src/schemas/json/pyproject.json
  src/schemas/json/tombi.json
Labels: none

Reference metadata params in mta.json
  src/schemas/json/mta.json
Labels: none

Fix minItems for commitlint rules
  src/schemas/json/commitlintrc.json
Labels: none

update descriptions in `POPxf` schema
  src/schemas/json/popxf-1.0.json
Labels: none

update descriptions in `POPxf` schema (#5155)
  src/schemas/json/popxf-1.0.json
Labels: none

Update CONTRIBUTING.md using better sub-schema example
  CONTRIBUTING.md
Labels: documentation

Add Git Town schema to the catalog
  src/api/json/catalog.json
Labels: none

use official cargo schema
  src/api/json/catalog.json
Labels: none

remove community schema and test
  src/schema-validation.jsonc
  src/schemas/json/cargo.json
  src/test/cargo/config.toml
  src/test/cargo/package-inheritance.toml
  src/test/cargo/playdate-metadata-assets-list.toml
  src/test/cargo/playdate-metadata-assets-opts.toml
  src/test/cargo/playdate-metadata-assets-table.toml
  src/test/cargo/playdate-metadata-info-max.toml
  src/test/cargo/playdate-metadata-info-min.toml
  src/test/cargo/workspace-inheritance.toml
Labels: none

Update ruff's JSON schema
  src/schemas/json/ruff.json
Labels: none

[bitrise-step] Add executables object
  src/schemas/json/bitrise-step.json
Labels: none

Remove strict pattern matching from executables
  src/schemas/json/bitrise-step.json
Labels: none

Update CONTRIBUTING.md using better sub-schema example (#5156)
  CONTRIBUTING.md
Labels: documentation

Fix minItems for commitlint rules (#5154)
  src/schemas/json/commitlintrc.json
Labels: none

Add Git Town schema to the catalog (#5157)
  src/api/json/catalog.json
Labels: none

Update ruff's JSON schema (#5158)
  src/schemas/json/ruff.json
Labels: none

[bitrise-step] Add executables object (#5159)
  src/schemas/json/bitrise-step.json
Labels: none

Reuse mtad parameters in mtaext and mta
  src/schemas/json/mta.json
  src/schemas/json/mtaext.json
Labels: none

Add XSA platform paratemers
  src/schema-validation.jsonc
  src/schemas/json/mta.json
  src/schemas/json/mtad.json
  src/schemas/json/mtaext.json
Labels: none
