Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.

Update regex of poe.tasks
  src/schemas/json/partial-poe.json
Labels: none

feat(claude-code-settings): sync to Claude Code v2.1.47
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/mcp-servers.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

feat(claude-code-settings): sync to Claude Code v2.1.47 (#5378)
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/mcp-servers.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Update regex of poe.tasks (#5377)
  src/schemas/json/partial-poe.json
Labels: none

feature: 🐊Putout v42
  src/schemas/json/putout.json
Labels: none

Update timezone data using tzdb 2025c
  src/schemas/json/base-04.json
  src/schemas/json/base.json
Labels: none

Update ruff's JSON schema
  src/schemas/json/ruff.json
Labels: none

feat: add opt-in test coverage analysis tool
  .github/workflows/validate.yml
  CONTRIBUTING.md
  cli.js
  src/helpers/coverage.js
  src/schema-validation.jsonc
  src/schema-validation.schema.json
Labels: ci, cli.js, documentation

feat(claude-code-settings): sync to Claude Code v2.1.47
  src/negative_test/claude-code-settings/invalid-enum-values.json
  src/negative_test/claude-code-settings/invalid-marketplace-host-pattern.json
  src/negative_test/claude-code-settings/invalid-mcp-server-name.json
  src/negative_test/claude-code-settings/wrong-property-types.json
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/basic-config.json
  src/test/claude-code-settings/complete-config.json
  src/test/claude-code-settings/edge-cases.json
  src/test/claude-code-settings/marketplace-host-pattern.json
  src/test/claude-code-settings/modern-complete-config.json
  src/test/claude-code-settings/permissions-basic.json
  src/test/claude-code-settings/permissions-mcp.json
Labels: none

feat(claude-code-settings): improve test coverage
  src/negative_test/claude-code-settings/invalid-enum-values.json
  src/negative_test/claude-code-settings/invalid-marketplace-host-pattern.json
  src/negative_test/claude-code-settings/invalid-mcp-server-name.json
  src/negative_test/claude-code-settings/wrong-property-types.json
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/basic-config.json
  src/test/claude-code-settings/complete-config.json
  src/test/claude-code-settings/edge-cases.json
  src/test/claude-code-settings/marketplace-host-pattern.json
  src/test/claude-code-settings/modern-complete-config.json
  src/test/claude-code-settings/permissions-basic.json
  src/test/claude-code-settings/permissions-mcp.json
Labels: none

fix(schema):fixed linting issues in appsscript.json and asconfig-schema.json
  src/schemas/json/appsscript.json
  src/schemas/json/asconfig-schema.json
Labels: none

feature: 🐊Putout v42 (#5379)
  src/schemas/json/putout.json
Labels: none

Update timezone data using tzdb 2025c (#5380)
  src/schemas/json/base-04.json
  src/schemas/json/base.json
Labels: none

Update ruff's JSON schema (#5382)
  src/schemas/json/ruff.json
Labels: none

feat(dependabot-2.0): update schema to match current Dependabot features
  src/schemas/json/dependabot-2.0.json
  src/test/dependabot-2.0/groups.group-by.json
  src/test/dependabot-2.0/ignore-versions-string.json
  src/test/dependabot-2.0/pre-commit.json
  src/test/dependabot-2.0/registries-goproxy.json
  src/test/dependabot-2.0/registries-oidc.json
Labels: none

fix(schema):fixed linting issues in appsscript.json and asconfig-schema.json (#5386)
  src/schemas/json/appsscript.json
  src/schemas/json/asconfig-schema.json
Labels: none

schema: add Pantsbuild - 2.31.0
  src/api/json/catalog.json
  src/schemas/json/pantsbuild-2.31.0.json
Labels: none

id
  src/schemas/json/pantsbuild-2.31.0.json
Labels: none

Update Claude Code settings schema: add managed settings fields
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/managed-settings.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Add positive and negative test fixtures for managed settings fields
  src/negative_test/claude-code-settings/invalid-managed-settings.json
Labels: none

schema: add Pantsbuild - 2.31.0 (#5387)
  src/api/json/catalog.json
  src/schemas/json/pantsbuild-2.31.0.json
Labels: none

feat(rumdl): update schema to v0.1.24 (#5388)
  src/schemas/json/rumdl.json
Labels: none

Add @ant-kurt as CODEOWNERS for claude-code-settings
  .github/CODEOWNERS
Labels: ci

Update ty's JSON schema
  src/schemas/json/ty.json
Labels: none

feat(claude-code-settings): add managed/enterprise settings fields (#5389)
  src/negative_test/claude-code-settings/invalid-managed-settings.json
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/managed-settings.json
  src/test/claude-code-settings/modern-complete-config.json
Labels: none

Add OpenClaw schema to catalog
  src/api/json/catalog.json
Labels: none

feat(claude-code-settings): improve test coverage (#5385)
  src/negative_test/claude-code-settings/invalid-enum-values.json
  src/negative_test/claude-code-settings/invalid-marketplace-host-pattern.json
  src/negative_test/claude-code-settings/invalid-mcp-server-name.json
  src/negative_test/claude-code-settings/wrong-property-types.json
  src/schemas/json/claude-code-settings.json
  src/test/claude-code-settings/basic-config.json
  src/test/claude-code-settings/complete-config.json
  src/test/claude-code-settings/edge-cases.json
  src/test/claude-code-settings/marketplace-host-pattern.json
  src/test/claude-code-settings/modern-complete-config.json
  src/test/claude-code-settings/permissions-basic.json
  src/test/claude-code-settings/permissions-mcp.json
Labels: none

fix(schema): normalize volumes metadata and remove trailing punctuation in azure-containerapp-template.json
  src/schemas/json/azure-containerapp-template.json
Labels: none

feat(catalog): register Flatpak manifest schema with file match patterns
  src/api/json/catalog.json
Labels: none

feat(schema): add Flatpak Builder manifest JSON schema
  src/schemas/json/flatpak-manifest.json
Labels: none

test(flatpak-manifest): add positive and negative validation cases
  src/negative_test/flatpak-manifest/missing-runtime.json
  src/test/flatpak-manifest/com.example.MyApp.json
  src/test/flatpak-manifest/com.example.ProprietaryApp.json
  src/test/flatpak-manifest/org.example.LegacyApp.json
  src/test/flatpak-manifest/org.example.Sdk.json
Labels: none

chore(validation): update schema validation configuration for Flatpak manifest
  src/schema-validation.jsonc
Labels: none

fix(flatpak-manifest): remove x-deprecated keyword, not valid in draft-07
  src/schemas/json/flatpak-manifest.json
Labels: none

fix(flatpak-manifest): fix typo transfered -> transferred
  src/schemas/json/flatpak-manifest.json
Labels: none

Add @ant-kurt as CODEOWNERS for claude-code-settings (#5390)
  .github/CODEOWNERS
Labels: ci

Update ty's JSON schema (#5391)
  src/schemas/json/ty.json
Labels: none

Add BMML (Business Model Markup Language) schema (#5301)
  src/api/json/catalog.json
  src/negative_test/bmml/bmml.yaml
  src/schemas/json/bmml.json
  src/test/bmml/bmml.yaml
Labels: none

feat: add opt-in test coverage analysis tool (#5383)
  .github/workflows/validate.yml
  CONTRIBUTING.md
  cli.js
  src/helpers/coverage.js
  src/schema-validation.jsonc
  src/schema-validation.schema.json
Labels: ci, cli.js, documentation

feat(bamboo-spec): add YAML test files from Atlassian Docs
  src/test/bamboo-spec/bamboo-spec-11.0.8-plan.yaml
  src/test/bamboo-spec/bamboo-spec-12.1.2-plan.yaml
  src/test/bamboo-spec/bamboo-spec-6.10.6-plan-permissions.yaml
  src/test/bamboo-spec/bamboo-spec-6.10.6-plan.yaml
  src/test/bamboo-spec/bamboo-spec-6.10.6-project-permissions.yaml
  src/test/bamboo-spec/bamboo-spec-6.10.6-project.yaml
  src/test/bamboo-spec/bamboo-spec-7.2.10-12.1.2-plan-permissions.yaml
  src/test/bamboo-spec/bamboo-spec-7.2.10-12.1.2-project-permissions.yaml
  src/test/bamboo-spec/bamboo-spec-7.2.10-8.0.13-project.yaml
  src/test/bamboo-spec/bamboo-spec-7.2.10-plan.yaml
  src/test/bamboo-spec/bamboo-spec-8.0.13-plan.yaml
  src/test/bamboo-spec/bamboo-spec-9.6.23-10.2.15-plan.yaml
  src/test/bamboo-spec/bamboo-spec-9.6.23-12.1.2-project.yaml
Labels: none

maturin: add FeatureSpec for features field
  src/schemas/json/maturin.json
Labels: none
