Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, cli.js, config:editorconfig, config:eslintrcjson, config:gitignore, documentation, WARNING_AspNetFiles

✨ Add Copilot instructions for repository (#5117)
  .github/copilot-instructions.md
Labels: ci, documentation

Add `trustPolicy` to pnpm-workspace.json
  src/schemas/json/pnpm-workspace.json
Labels: none

Add `trustPolicy` to pnpm-workspace.json (#5118)
  src/schemas/json/pnpm-workspace.json
Labels: none

feat(pytest): update config to v9
  src/schemas/json/partial-pytest.json
Labels: none

Apollo Router: schema 2.8.1
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/apollo-router-2.8.1.json
Labels: none

Add venvironment schema v4.2.0
  src/negative_test/venvironment-schema-v4.2.0/invalid-version.yaml
  src/negative_test/venvironment-schema-v4.2.0/missing-version.yaml
  src/schemas/json/venvironment-schema-v4.2.0.json
  src/test/venvironment-schema-v4.2.0/can-and-canfd.yaml
  src/test/venvironment-schema-v4.2.0/empty.yaml
  src/test/venvironment-schema-v4.2.0/unicode-1.yaml
  src/test/venvironment-schema-v4.2.0/unicode-2.yaml
  src/test/venvironment-schema-v4.2.0/vcdls.yaml
  src/test/venvironment-schema-v4.2.0/xcp.yaml
Labels: none

Remove venvironment-basic and venvplus-basic schemas
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/venvironment-basic-schema-v2.1.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v2.1.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/missing-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/invalid-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/missing-version.yaml
  src/schemas/json/venvironment-basic-schema-v1.0.0.json
  src/schemas/json/venvironment-basic-schema-v1.1.0.json
  src/schemas/json/venvironment-basic-schema-v2.0.0.json
  src/schemas/json/venvironment-basic-schema-v2.1.0.json
  src/schemas/json/venvironment-basic-schema-v3.0.0.json
  src/schemas/json/venvironment-basic-schema-v3.2.0.json
  src/schemas/json/venvironment-basic-schema-v4.0.0.json
  src/schemas/json/venvplus-basic-schema-v1.0.0.json
  src/test/venvironment-basic-schema-v2.1.0/empty.yaml
  src/test/venvironment-basic-schema-v2.1.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v2.1.0/vcdls.yaml
  src/test/venvironment-basic-schema-v3.2.0/empty.yaml
  src/test/venvironment-basic-schema-v3.2.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v3.2.0/vcdls.yaml
  src/test/venvironment-basic-schema-v4.0.0/empty.yaml
  src/test/venvironment-basic-schema-v4.0.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v4.0.0/vcdls.yaml
  src/test/venvplus-basic-schema-v1.0.0/empty.yaml
  src/test/venvplus-basic-schema-v1.0.0/offline-config.yaml
Labels: ci

Add missing id in venvironment schema 4.2.0
  src/schemas/json/venvironment-schema-v4.2.0.json
Labels: none

Update `hatch.json` schema
  src/schemas/json/hatch.json
Labels: none

Removal of Typst manifest and Hayagriva schemas
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/github-issue-forms.json
  src/schemas/json/hayagriva.json
  src/schemas/json/typst.json
Labels: none

Add tests
  src/test/hatch/metadata-hooks.toml
  src/test/hatch/version-vcs-raw-options.toml
  src/test/hatch/wheel-bypass-selection.toml
Labels: none

Update ifstate 2.1 config schema.
  src/api/json/catalog.json
Labels: none

Fix venvironment-schema for 4.2.0
  src/schemas/json/venvironment-schema-v4.2.0.json
Labels: none

Update environment make schema 4.2.0 (#3)
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/venvironment-basic-schema-v2.1.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v2.1.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/missing-version.yaml
  src/negative_test/venvironment-schema-v4.2.0/invalid-version.yaml
  src/negative_test/venvironment-schema-v4.2.0/missing-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/invalid-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/missing-version.yaml
  src/schemas/json/venvironment-basic-schema-v1.0.0.json
  src/schemas/json/venvironment-basic-schema-v1.1.0.json
  src/schemas/json/venvironment-basic-schema-v2.0.0.json
  src/schemas/json/venvironment-basic-schema-v2.1.0.json
  src/schemas/json/venvironment-basic-schema-v3.0.0.json
  src/schemas/json/venvironment-basic-schema-v3.2.0.json
  src/schemas/json/venvironment-basic-schema-v4.0.0.json
  src/schemas/json/venvironment-schema-v4.2.0.json
  src/schemas/json/venvplus-basic-schema-v1.0.0.json
  src/test/venvironment-basic-schema-v2.1.0/empty.yaml
  src/test/venvironment-basic-schema-v2.1.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v2.1.0/vcdls.yaml
  src/test/venvironment-basic-schema-v3.2.0/empty.yaml
  src/test/venvironment-basic-schema-v3.2.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v3.2.0/vcdls.yaml
  src/test/venvironment-basic-schema-v4.0.0/empty.yaml
  src/test/venvironment-basic-schema-v4.0.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v4.0.0/vcdls.yaml
  src/test/venvironment-schema-v4.2.0/can-and-canfd.yaml
  src/test/venvironment-schema-v4.2.0/empty.yaml
  src/test/venvironment-schema-v4.2.0/unicode-1.yaml
  src/test/venvironment-schema-v4.2.0/unicode-2.yaml
  src/test/venvironment-schema-v4.2.0/vcdls.yaml
  src/test/venvironment-schema-v4.2.0/xcp.yaml
  src/test/venvplus-basic-schema-v1.0.0/empty.yaml
  src/test/venvplus-basic-schema-v1.0.0/offline-config.yaml
Labels: ci

Update Claude Code settings schema with additional configuration options
  src/schemas/json/claude-code-settings.json
Labels: none

Add hook properties to schema to fix validation errors
  src/schemas/json/claude-code-settings.json
Labels: none

Remove const constraint on $schema to allow different schema URLs
  src/schemas/json/claude-code-settings.json
Labels: none

Update Claude Code settings schema with additional configuration options (#5130)
  src/schemas/json/claude-code-settings.json
Labels: none

Add `.ameba.yaml`
  src/api/json/catalog.json
Labels: none

Add `trustPolicyExclude` to pnpm-workspace.json
  src/schemas/json/pnpm-workspace.json
Labels: none

Add `trustPolicyExclude` to pnpm-workspace.json (#5132)
  src/schemas/json/pnpm-workspace.json
Labels: none

Add jarl.toml schema (#5109)
  src/api/json/catalog.json
Labels: none

Add WireMock CLI import and local services schemas (#5111)
  src/api/json/catalog.json
Labels: none

Update uplugin schema from draft-04 to draft-07 (#5112)
  src/schemas/json/uplugin.json
Labels: none

fix: update QType AI DSL schema URL to point to bazaarvoice (#5113)
  src/api/json/catalog.json
Labels: none

feat(pytest): update config to v9 (#5121)
  src/schemas/json/partial-pytest.json
Labels: none

Apollo Router: schema 2.8.1 (#5122)
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/apollo-router-2.8.1.json
Labels: none

Update `hatch.json` schema (#5126)
  src/schemas/json/hatch.json
  src/test/hatch/metadata-hooks.toml
  src/test/hatch/version-vcs-raw-options.toml
  src/test/hatch/wheel-bypass-selection.toml
Labels: none

Update ifstate 2.1 config schema. (#5128)
  src/api/json/catalog.json
Labels: none

Update environment make schema 4.2.0 (#3) (#5129)
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/venvironment-basic-schema-v2.1.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v2.1.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v3.2.0/missing-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/missing-version.yaml
  src/negative_test/venvironment-schema-v4.2.0/invalid-version.yaml
  src/negative_test/venvironment-schema-v4.2.0/missing-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/invalid-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/missing-version.yaml
  src/schemas/json/venvironment-basic-schema-v1.0.0.json
  src/schemas/json/venvironment-basic-schema-v1.1.0.json
  src/schemas/json/venvironment-basic-schema-v2.0.0.json
  src/schemas/json/venvironment-basic-schema-v2.1.0.json
  src/schemas/json/venvironment-basic-schema-v3.0.0.json
  src/schemas/json/venvironment-basic-schema-v3.2.0.json
  src/schemas/json/venvironment-basic-schema-v4.0.0.json
  src/schemas/json/venvironment-schema-v4.2.0.json
  src/schemas/json/venvplus-basic-schema-v1.0.0.json
  src/test/venvironment-basic-schema-v2.1.0/empty.yaml
  src/test/venvironment-basic-schema-v2.1.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v2.1.0/vcdls.yaml
  src/test/venvironment-basic-schema-v3.2.0/empty.yaml
  src/test/venvironment-basic-schema-v3.2.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v3.2.0/vcdls.yaml
  src/test/venvironment-basic-schema-v4.0.0/empty.yaml
  src/test/venvironment-basic-schema-v4.0.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v4.0.0/vcdls.yaml
  src/test/venvironment-schema-v4.2.0/can-and-canfd.yaml
  src/test/venvironment-schema-v4.2.0/empty.yaml
  src/test/venvironment-schema-v4.2.0/unicode-1.yaml
  src/test/venvironment-schema-v4.2.0/unicode-2.yaml
  src/test/venvironment-schema-v4.2.0/vcdls.yaml
  src/test/venvironment-schema-v4.2.0/xcp.yaml
  src/test/venvplus-basic-schema-v1.0.0/empty.yaml
  src/test/venvplus-basic-schema-v1.0.0/offline-config.yaml
Labels: ci

cibuildwheel: update to 3.3.0
  src/schemas/json/partial-cibuildwheel.json
Labels: none

cibuildwheel: update to 3.3.0 (#5133)
  src/schemas/json/partial-cibuildwheel.json
Labels: none

Update `trustPolicyExclude` description
  src/schemas/json/pnpm-workspace.json
Labels: none

Update `trustPolicyExclude` description (#5135)
  src/schemas/json/pnpm-workspace.json
Labels: none

Add support for railpack.json
  src/api/json/catalog.json
Labels: none

Add support for strict mode in Specmatic configuration
  src/negative_test/specmatic/wrong-stub-strict-mode-type.json
  src/negative_test/specmatic/wrong-test-strict-mode-type.json
  src/schemas/json/specmatic.json
  src/test/specmatic/specmatic.json
Labels: none

Add support for railpack.json (#5136)
  src/api/json/catalog.json
Labels: none

Add support for strict mode in Specmatic configuration (#5137)
  src/negative_test/specmatic/wrong-stub-strict-mode-type.json
  src/negative_test/specmatic/wrong-test-strict-mode-type.json
  src/schemas/json/specmatic.json
  src/test/specmatic/specmatic.json
Labels: none

Update drupal-config.json
  src/schemas/json/drupal-config.json
  src/test/drupal-config/drupal-config.yml
Labels: none

Update src/api/json/catalog.json
  src/api/json/catalog.json
Labels: none

.github/labeler.yml:

# Changes to continuous integration.
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# Changes to JavaScript. This label used to have the name of "Gruntfile.js".
# This label also supersedes the old "NodeJS" label, which was too broad.
'cli.js':
  - changed-files:
      - any-glob-to-any-file:
          - 'cli.js'
          - 'package.json'

# Changes to configuration.
'config:editorconfig':
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'
'config:eslintrcjson':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'
'config:gitignore':
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'

# Changes to documentation.
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# Changes to Asp.Net files. Generally, they must NOT be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'
# Do not add "src/{api,schemas,test}", etc. directories;
# they are not special.
