Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: WARNING_AspNetFiles, gruntfile, schema-validation.json, ci, NodeJS, documentation, editorconfig, eslintrcjson, gitignore

Re-add `$id` field
  src/schemas/json/task.json
Labels: none

Update task tests
  src/test/task/example.json
  src/test/task/example1.yaml
  src/test/task/example2.yaml
Labels: none

Remove strict mode for taskfile
  src/schema-validation.json
Labels: schema-validation.json

Fix filename
  src/schema-validation.json
Labels: schema-validation.json

Add v3 taskfile schema (#3771)
  src/schema-validation.json
  src/schemas/json/task.json
  src/test/task/example.json
  src/test/task/example1.yaml
  src/test/task/example2.yaml
Labels: schema-validation.json

Update ruff's JSON schema
  src/schemas/json/ruff.json
Labels: none

add component_separator to glazewm.json
  src/schemas/json/glazewm.json
Labels: none

fix accidental deletion of "components"
  src/schemas/json/glazewm.json
Labels: none

fix other accidental name changes
  src/schemas/json/glazewm.json
Labels: none

fix other accidental change
  src/schemas/json/glazewm.json
Labels: none

fix another mistake
  src/schemas/json/glazewm.json
Labels: none

Update ruff's JSON schema (#3772)
  src/schemas/json/ruff.json
Labels: none

Introduced abc-supply-plan.json v3.0.0 featuring Planning Frequency
  src/api/json/catalog.json
  src/negative_test/abc-supply-plan-3.0.0/abc-supply-plan-missing-schema-property.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-extraneous-property.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-fractional-lot-size.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-planDate.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-strings-as-numbers.json
  src/schema-validation.json
  src/schemas/json/abc-supply-plan-3.0.0.json
  src/test/abc-supply-plan-3.0.0/abc-supply-plan.json
Labels: schema-validation.json

Update traefik-v2 logs properties
  src/schemas/json/traefik-v2.json
Labels: none

Update traefik-v2 logs properties (#3776)
  src/schemas/json/traefik-v2.json
Labels: none

update json schema
  src/schemas/json/monika-config-schema.json
Labels: none

Fix traefik-v2 log.compress type
  src/schemas/json/traefik-v2.json
Labels: none

Add CVE Record Format to catalogue
  src/api/json/catalog.json
Labels: none

Fix traefik-v2 log.compress type (#3778)
  src/schemas/json/traefik-v2.json
Labels: none

Add CVE Record Format to catalogue (#3779)
  src/api/json/catalog.json
Labels: none

feat(github-release): Add GitHub automatically generated release notes config
  src/api/json/catalog.json
  src/schemas/json/github-release-config.json
  src/test/github-release-config/official-example-short.json
  src/test/github-release-config/official-example.json
Labels: none

chore: Added empty lines at the end of the files
  src/test/github-release-config/official-example-short.json
  src/test/github-release-config/official-example.json
Labels: none

test: Comvert test files from json to yaml
  src/test/github-release-config/official-example-short.json
  src/test/github-release-config/official-example-short.yml
  src/test/github-release-config/official-example.json
  src/test/github-release-config/official-example.yml
Labels: none

Update web-types schema with recent changes.
  src/schemas/json/web-types.json
Labels: none

Update web-types schema with recent changes. (#3781)
  src/schemas/json/web-types.json
Labels: none

Add GitHub automatically generated release notes config (#3780)
  src/api/json/catalog.json
  src/schemas/json/github-release-config.json
  src/test/github-release-config/official-example-short.yml
  src/test/github-release-config/official-example.yml
Labels: none

Update ifstate's config schema.
  src/api/json/catalog.json
Labels: none

Update ifstate's config schema. (#3783)
  src/api/json/catalog.json
Labels: none

Apply various fixes
  .pre-commit-config.yaml
  src/api/json/catalog.json
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/chrome-manifest.json
  src/schemas/json/clang-tidy.json
  src/schemas/json/clangd.json
  src/schemas/json/dependabot-2.0.json
  src/schemas/json/github-issue-forms.json
  src/schemas/json/hugo.json
  src/schemas/json/jsconfig.json
  src/schemas/json/rust-toolchain.json
  src/schemas/json/tsconfig.json
  src/test/clang-tidy/clang-tidy-grpc.yaml
  src/test/dependabot-2.0/groups.yaml
  src/test/dependabot-2.0/issue-3777.yaml
  src/test/rust-toolchain/components-any-3782.toml
Labels: schema-validation.json, NodeJS

Hold `eslint-plugin-n` due to weird shebang error
  src/package-lock.json
  src/package.json
Labels: NodeJS

small fixes
  src/api/json/catalog.json
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/chrome-manifest.json
  src/schemas/json/clang-tidy.json
  src/test/webjob-publish-settings/scheduled.json
Labels: schema-validation.json, NodeJS

Update Information regarding updated lsdl schema to 4.1
  src/schema-validation.json
  src/schemas/json/lsdlschema-4.1.json
  src/schemas/json/lsdlschema.json
Labels: schema-validation.json

Adding lsdl schema version 4.1 (#3785)
  src/schema-validation.json
  src/schemas/json/lsdlschema-4.1.json
  src/schemas/json/lsdlschema.json
Labels: schema-validation.json

Update `partial-pyright.json`
  src/schemas/json/partial-pyright.json
Labels: none

Also remove an unnecessary sentence
  src/schemas/json/partial-pyright.json
Labels: none

Added allocationMethod to RecipeState
  src/negative_test/abc-supply-plan-3.0.0/abc-supply-plan-missing-schema-property.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-extraneous-property.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-fractional-lot-size.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-planDate.json
  src/negative_test/abc-supply-plan-3.0.0/abc-suppply-plan-invalid-strings-as-numbers.json
  src/schemas/json/abc-supply-plan-3.0.0.json
  src/test/abc-supply-plan-3.0.0/abc-supply-plan.json
Labels: none

Update `partial-pyright.json` (#3786)
  src/schemas/json/partial-pyright.json
Labels: none

Add support for buf v2 configuration files
  src/schemas/json/buf.gen.json
  src/schemas/json/buf.json
  src/test/buf.gen/v2.buf.gen.yaml
  src/test/buf/buf.v2.yaml
Labels: none

Add support for Node.js 20.x to JSON schema
  src/schemas/json/tunnelhub.json
Labels: none

Update lint/breaking rules and fix v2 example
  src/schemas/json/buf.json
  src/test/buf/buf.v2.yaml
Labels: none

.github/labeler.yml:

# Asp.Net files must not be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'

# code change
gruntfile:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/Gruntfile.cjs'

# schema setting change
schema-validation.json:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/schema-validation.json'

# possible code change
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# possible code change
NodeJS:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'src/package.json'
          - 'src/package-lock.json'

# possible URL change
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# formatting change
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

# lint change
eslintrcjson:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'

# .gitignore change
gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'
# Do not add "api", "schema" and "test" directories.
# Those are the usual commit. No need for extra attention.
# src/api/**/*
# src/schema/*
# src/test/**/*
# src/negative_test/**/*
