Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: WARNING_AspNetFiles, gruntfile, schema-validation.json, ci, NodeJS, documentation, editorconfig, eslintrcjson, gitignore

Add support for Node.js 20.x to JSON schema (#3787)
  src/schemas/json/tunnelhub.json
Labels: none

Add support for `buf` v2 configuration files (#3788)
  src/schemas/json/buf.gen.json
  src/schemas/json/buf.json
  src/test/buf.gen/v2.buf.gen.yaml
  src/test/buf/buf.v2.yaml
Labels: none

Introduced abcNoDuplicateValuesForOrderingProperty property
  src/schema-validation.json
  src/schemas/json/abc-supply-plan-3.0.0.json
Labels: schema-validation.json

Add kubri configuration schema
  src/api/json/catalog.json
Labels: none

add opsmill-infrahub schema
  src/api/json/catalog.json
Labels: none

updated description
  src/api/json/catalog.json
Labels: none

Add kubri configuration schema (#3790)
  src/api/json/catalog.json
Labels: none

add opsmill-infrahub schema (#3791)
  src/api/json/catalog.json
Labels: none

Add a few `buf` breaking rules
  src/schemas/json/buf.json
Labels: none

Introduced abcAreAllocationMethodsHeterogeneous property
  src/schema-validation.json
  src/schemas/json/abc-supply-plan-3.0.0.json
Labels: schema-validation.json

Corrected name to abcAreAllocationMethodsHomogeneous property
  src/schema-validation.json
  src/schemas/json/abc-supply-plan-3.0.0.json
Labels: schema-validation.json

refactor: update embrace json schema to make property non-mandatory
  src/schemas/json/embrace-config-schema-1.0.0.json
Labels: none

update infrahub schema definition after testing
  src/api/json/catalog.json
Labels: none

Revert changes to `task` schema
  src/schema-validation.json
  src/schemas/json/task.json
  src/test/taskfile/example1.yaml
  src/test/taskfile/example2.yaml
  test.yaml
Labels: schema-validation.json

update infrahub schema definition after testing (#3796)
  src/api/json/catalog.json
Labels: none

Add changelogging schema.
  src/api/json/catalog.json
Labels: none

Fix tests
  src/schema-validation.json
  src/test/task/example.json
  src/test/taskfile/example1.yaml
  src/test/taskfile/example2.yaml
  test.yaml
Labels: schema-validation.json

Revert changes to `task` schema (#3797)
  src/schema-validation.json
  src/schemas/json/task.json
  src/test/task/example.json
  src/test/task/example1.yaml
  src/test/task/example2.yaml
Labels: schema-validation.json

Add changelogging schema. (#3798)
  src/api/json/catalog.json
Labels: none

Add a few `buf` breaking rules (#3793)
  src/schemas/json/buf.json
Labels: none

ci: Fix `codeowners-merge.yml` job permissions
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

ci: Fix `codeowners-merge.yml` job permissions (#3799)
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

Update embrace-config-schema-1.0.0.json (#3795)
  src/schemas/json/embrace-config-schema-1.0.0.json
Labels: none

Typo and url fix
  .editorconfig
  .pre-commit-config.yaml
  src/api/json/catalog.json
  src/scripts/pre-commit-script.sh
  src/test/rust-toolchain/components-any-3782.toml
  src/test/webjob-publish-settings/scheduled.json
Labels: editorconfig

Disable pre-commit prettier hook, fix schema issues, update deps (#3784)
  .editorconfig
  .pre-commit-config.yaml
  src/api/json/catalog.json
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/chrome-manifest.json
  src/schemas/json/clang-tidy.json
  src/schemas/json/clangd.json
  src/schemas/json/dependabot-2.0.json
  src/schemas/json/github-issue-forms.json
  src/schemas/json/hugo.json
  src/schemas/json/jsconfig.json
  src/schemas/json/rust-toolchain.json
  src/schemas/json/tsconfig.json
  src/scripts/pre-commit-script.sh
  src/test/clang-tidy/clang-tidy-grpc.yaml
  src/test/dependabot-2.0/groups.yaml
  src/test/dependabot-2.0/issue-3777.yaml
  src/test/rust-toolchain/components-any-3782.toml
Labels: schema-validation.json, NodeJS, editorconfig

Update monika JSON schema (#3800)
  src/schema-validation.json
  src/schemas/json/monika-config-schema.json
Labels: schema-validation.json

Move `package.json` up a directory
  .eslintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/nodejs.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc.cjs
  CONTRIBUTING.md
  Gruntfile.cjs
  package-lock.json
  package.json
  scripts/coverage.sh
  scripts/dirty_repository_check.sh
  src/schema-validation.json
  src/scripts/pre-commit-script.sh
Labels: schema-validation.json, ci, NodeJS, documentation, gitignore

refactor: update embrace schema to avoid required properties
  src/schemas/json/embrace-config-schema-1.0.0.json
Labels: none

refactor: update embrace schema to avoid required properties (#3802)
  src/schemas/json/embrace-config-schema-1.0.0.json
Labels: none

Fix buf.gen.yaml v2 fields
  src/schemas/json/buf.gen.json
  src/test/buf.gen/v2.buf.gen.yaml
Labels: none

Add `registry.cargo` support to buf.plugin schema
  src/schemas/json/buf.plugin.json
  src/test/buf.plugin/buf-cargo.plugin.yaml
Labels: none

Update clang-tidy.json
  src/schemas/json/clang-tidy.json
Labels: none

Update clang-tidy.json
  src/schemas/json/clang-tidy.json
Labels: none

Update and rename clang-tidy-grpc.yaml to dump.clang-tidy
  src/test/clang-tidy/clang-tidy-grpc.yaml
  src/test/clang-tidy/dump.clang-tidy
Labels: none

Rename dump.clang-tidy to dump-clang-tidy.yaml
  src/test/clang-tidy/dump-clang-tidy.yaml
Labels: none

Fix regex in FormatStyle
  src/schemas/json/clang-tidy.json
Labels: none

Add `registry.cargo` support to buf.plugin schema (#3804)
  src/schemas/json/buf.plugin.json
  src/test/buf.plugin/buf-cargo.plugin.yaml
Labels: none

Fix buf.gen.yaml v2 fields (#3803)
  src/schemas/json/buf.gen.json
  src/test/buf.gen/v2.buf.gen.yaml
Labels: none

Sigrid configuration file: architecture.enabled is an optional field.
  src/schemas/json/sigrid-scope-file.schema.json
Labels: none

Sigrid configuration file: architecture.enabled is an optional field. (#3806)
  src/schemas/json/sigrid-scope-file.schema.json
Labels: none

.github/labeler.yml:

# Asp.Net files must not be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'

# code change
gruntfile:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/Gruntfile.cjs'

# schema setting change
schema-validation.json:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/schema-validation.json'

# possible code change
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# possible code change
NodeJS:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'src/package.json'
          - 'src/package-lock.json'

# possible URL change
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# formatting change
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

# lint change
eslintrcjson:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'

# .gitignore change
gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'
# Do not add "api", "schema" and "test" directories.
# Those are the usual commit. No need for extra attention.
# src/api/**/*
# src/schema/*
# src/test/**/*
# src/negative_test/**/*
