Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: WARNING_AspNetFiles, gruntfile, schema-validation.json, ci, NodeJS, documentation, editorconfig, eslintrcjson, gitignore

support '.patch' versions in the 'api-version' field (#3824)
  src/schemas/json/paper-plugin.json
Labels: none

Add schema for `poetry-plugin-dotenv` (#3809)
  src/schemas/json/partial-poetry.json
  src/test/pyproject/poetry-plugin-dotenv-example-1.toml
  src/test/pyproject/poetry-plugin-dotenv-example-2.toml
Labels: none

Update `partial-pyright.json` (#3812)
  src/schemas/json/partial-pyright.json
Labels: none

Update catalog.json
  src/api/json/catalog.json
Labels: none

Delete src/schemas/json/semgrep.json
  src/schemas/json/semgrep.json
Labels: none

feat: add negative test for `poetry-plugin-dotenv` schema
  src/negative_test/pyproject/poetry-plugin-dotenv-example-1.toml
Labels: none

fix: move out `poetry-plugin-dotenv` schema from additional properties
  src/schemas/json/partial-poetry.json
Labels: none

Tweak documentation
  CONTRIBUTING.md
  editor-features.md
Labels: documentation

Tweak documentation (#3828)
  CONTRIBUTING.md
  editor-features.md
Labels: documentation

ci: Use `code-owner-self-merge` fork with some fixes
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

ci: Use `code-owner-self-merge` fork with some fixes (#3829)
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

Fix typos
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  src/schemas/json/kubernetes-definitions.json
  src/schemas/json/minecraft-predicate.json
  src/test/webextension/mdn-exmaple-imagify.json
Labels: documentation

Update schema-validation.json
  src/schema-validation.json
Labels: schema-validation.json

Update semgrep.json
  src/schemas/json/semgrep.json
Labels: none

Update catalog.json
  src/api/json/catalog.json
Labels: none

Update catalog.json
  src/api/json/catalog.json
Labels: none

add UseTaintAnalysis and UseJsaAnalysis at aiproj schema
  src/schemas/json/aiproj-1.3.json
Labels: none

add UseTaintAnalysis and UseJsaAnalysis at aiproj schema (#3831)
  src/schemas/json/aiproj-1.3.json
Labels: none

Delete src/test/semgrep directory
  src/test/semgrep/example.json
Labels: none

Remove duplicated files from gitignore
  .gitignore
Labels: gitignore

Add jobs name validation to circle jobs #3832
  src/negative_test/circleciconfig/invalid-job-name-format.yml
  src/schemas/json/circleciconfig.json
Labels: none

Revert gitignore changes
  .gitignore
Labels: gitignore

Update catalog.json with JSON Schema for Configu files
  src/api/json/catalog.json
Labels: none

Update catalog.json with JSON Schema for Configu files (#3834)
  src/api/json/catalog.json
Labels: none

Update to Semgrep Rules (#3830)
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/semgrep.json
  src/test/semgrep/example.json
Labels: schema-validation.json

Improve constraints for contributors array
  src/schemas/json/all-contributors.json
Labels: none

Add additional property negative test
  src/negative_test/all-contributors/additional_property.json
Labels: none

Add contributor additional property negative test
  src/negative_test/all-contributors/contributor_additional_property.json
Labels: none

Add test for invalid contribution type
  src/negative_test/all-contributors/invalid_contribution.json
Labels: none

Use hpyhens for file names
  src/negative_test/all-contributors/additional-property.json
  src/negative_test/all-contributors/contributor-additional-property.json
  src/negative_test/all-contributors/invalid-contribution.json
Labels: none

Add negative tests for invalid uris
  src/negative_test/all-contributors/non-uri-avatar.json
  src/negative_test/all-contributors/non-uri-profile.json
Labels: none

Add negative test for empty contributions
  src/negative_test/all-contributors/empty-contributions.json
Labels: none

Adding QtCreator project.json schema
  src/api/json/catalog.json
Labels: none

Fix fileMatch for qtcreator project.json
  src/api/json/catalog.json
Labels: none

Update all contributors schema (#3836)
  src/negative_test/all-contributors/additional-property.json
  src/negative_test/all-contributors/contributor-additional-property.json
  src/negative_test/all-contributors/empty-contributions.json
  src/negative_test/all-contributors/invalid-contribution.json
  src/negative_test/all-contributors/non-uri-avatar.json
  src/negative_test/all-contributors/non-uri-profile.json
  src/schemas/json/all-contributors.json
Labels: none

(catalog) Add QtCreator project.json schema (#3837)
  src/api/json/catalog.json
Labels: none

Use external schema URL for Mason Registry
  src/api/json/catalog.json
  src/schemas/json/mason-registry.json
  src/test/mason-registry/mason-registry-test1.json
  src/test/mason-registry/mason-registry-test2.json
  src/test/mason-registry/mason-registry-test3.json
Labels: none

added more fly fields
  src/schemas/json/fly.json
  src/test/fly/fly.json
Labels: none

Use external schema URL for Mason Registry (#3839)
  src/api/json/catalog.json
  src/schemas/json/mason-registry.json
  src/test/mason-registry/mason-registry-test1.json
  src/test/mason-registry/mason-registry-test2.json
  src/test/mason-registry/mason-registry-test3.json
Labels: none

Fix issue with conflict between service bus options in v2 and v2-ext5
  src/schemas/json/host.json
Labels: none

.github/labeler.yml:

# Asp.Net files must not be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'

# code change
gruntfile:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/Gruntfile.cjs'

# schema setting change
schema-validation.json:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/schema-validation.json'

# possible code change
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# possible code change
NodeJS:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'src/package.json'
          - 'src/package-lock.json'

# possible URL change
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# formatting change
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

# lint change
eslintrcjson:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'

# .gitignore change
gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'
# Do not add "api", "schema" and "test" directories.
# Those are the usual commit. No need for extra attention.
# src/api/**/*
# src/schema/*
# src/test/**/*
# src/negative_test/**/*
