Repository SchemaStore/schemastore, changes with the labels that .github/labeler.yml gives for each.
All labels: WARNING_AspNetFiles, gruntfile, schema-validation.json, ci, NodeJS, documentation, editorconfig, eslintrcjson, gitignore

.github/labeler.yml:

# Asp.Net files must not be updated.
WARNING_AspNetFiles:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/bin/**/*'
          - 'src/css/**/*'
          - 'src/img/**/*'
          - 'src/js/**/*'
          - '**/*.sln'
          - '**/*.cshtml'
          - '**/*.config'
          - '**/*.webinfo'
          - '**/*.ico'
          - '**/*.txt'

# code change
gruntfile:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/Gruntfile.cjs'

# schema setting change
schema-validation.json:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/schema-validation.json'

# possible code change
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

# possible code change
NodeJS:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'src/package.json'
          - 'src/package-lock.json'

# possible URL change
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

# formatting change
editorconfig:
  - changed-files:
      - any-glob-to-any-file:
          - '.editorconfig'

# lint change
eslintrcjson:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/.eslintrc.json'

# .gitignore change
gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.gitattributes'
# Do not add "api", "schema" and "test" directories.
# Those are the usual commit. No need for extra attention.
# src/api/**/*
# src/schema/*
# src/test/**/*
# src/negative_test/**/*

Added packages.to to keep up with https://github.com/python-poetry/poetry-core/pull/672
  src/schemas/json/partial-poetry.json
Labels: none

Added packages.to to keep up with https://github.com/python-poetry/poetry-core/pull/672 (#3807)
  src/schemas/json/partial-poetry.json
Labels: none

github-workflow: move matrix object constraints to oneof subschema
  src/schemas/json/github-workflow.json
Labels: none

feat: add schema for `poetry-plugin-dotenv`
  src/api/json/catalog.json
  src/schemas/json/partial-poetry-plugin-dotenv.json
  src/schemas/json/pyproject.json
  src/test/pyproject/poetry-plugin-dotenv-example-1.toml
  src/test/pyproject/poetry-plugin-dotenv-example-2.toml
Labels: none

feat(circleciconfig): update executor images and resource class validation
  src/negative_test/circleciconfig/conflicting-resource-class.yml
  src/negative_test/circleciconfig/invalid-machine-executor-1.yml
  src/negative_test/circleciconfig/invalid-machine-executor-2.yml
  src/negative_test/circleciconfig/resource-class.yml
  src/schemas/json/circleciconfig.json
  src/test/circleciconfig/machine-default.yaml
  src/test/circleciconfig/machine-executor.json
  src/test/circleciconfig/machine-executor.yaml
  src/test/circleciconfig/resource-class.yml
  src/test/circleciconfig/resource-classes-and-images.yaml
Labels: none

Fix Clang tidy Schema (#3805)
  src/schemas/json/clang-tidy.json
  src/test/clang-tidy/clang-tidy-grpc.yaml
  src/test/clang-tidy/dump-clang-tidy.yaml
Labels: none

github-workflow: move matrix object constraints to oneof subschema (#3808)
  src/schemas/json/github-workflow.json
Labels: none

feat(circleciconfig): update executor images and resource class validation (#3810)
  src/negative_test/circleciconfig/conflicting-resource-class.yml
  src/negative_test/circleciconfig/invalid-machine-executor-1.yml
  src/negative_test/circleciconfig/invalid-machine-executor-2.yml
  src/negative_test/circleciconfig/resource-class.yml
  src/schemas/json/circleciconfig.json
  src/test/circleciconfig/machine-default.yaml
  src/test/circleciconfig/machine-executor.json
  src/test/circleciconfig/machine-executor.yaml
  src/test/circleciconfig/resource-class.yml
  src/test/circleciconfig/resource-classes-and-images.yaml
Labels: none

add more fly options
  src/schemas/json/fly.json
Labels: none

use vm definition
  src/schemas/json/fly.json
Labels: none

use the vm definition
  src/schemas/json/fly.json
  src/test/fly/fly.json
Labels: none

added more fields in fly json test
  src/test/fly/fly.json
Labels: none

Update `partial-pyright.json`
  src/schemas/json/partial-pyright.json
Labels: none

remove $schema
  src/test/fly/fly.json
Labels: none

Add fly.toml options for auto_stop_machines and more (#3811)
  src/schemas/json/fly.json
  src/test/fly/fly.json
Labels: none

chore: fix broken link
  src/schemas/json/github-workflow.json
Labels: none

chore: fix broken link (#3814)
  src/schemas/json/github-workflow.json
Labels: none

feat(catalog): add Drupal Recipe
  src/api/json/catalog.json
  src/schemas/json/drupal-recipe.json
  src/test/drupal-recipe/drupal-recipe.yml
Labels: none

style: fix misspelled word
  src/schemas/json/drupal-recipe.json
Labels: none

feat(catalog): add Drupal Recipe (#3815)
  src/api/json/catalog.json
  src/schemas/json/drupal-recipe.json
  src/test/drupal-recipe/drupal-recipe.yml
Labels: none

Fixes
  .c8rc.json
  .prettierrc.cjs
Labels: none

Re-enable Prettier
  .pre-commit-config.yaml
  .prettierrc.cjs
  src/schema-validation.json
  src/schemas/json/clang-tidy.json
  src/test/clang-tidy/dump-clang-tidy.yaml
Labels: schema-validation.json

Re-enable Prettier (#3817)
  .pre-commit-config.yaml
  .prettierrc.cjs
  src/schema-validation.json
  src/schemas/json/clang-tidy.json
  src/test/clang-tidy/dump-clang-tidy.yaml
Labels: schema-validation.json

Fix type import
  .prettierrc.cjs
Labels: none

Fix for ci
  .prettierrc.cjs
Labels: none

Final fixes
  .pre-commit-config.yaml
Labels: none

Move `package.json` to parent directory (#3801)
  .c8rc.json
  .eslintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/nodejs.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc.cjs
  CONTRIBUTING.md
  Gruntfile.cjs
  package-lock.json
  package.json
  scripts/coverage.sh
  scripts/dirty_repository_check.sh
  src/scripts/pre-commit-script.sh
Labels: ci, NodeJS, documentation, gitignore

Tweak docs and remove unknown schema property
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  editor-features.md
  src/schema-validation.json
  src/schemas/json/cargo.json
Labels: schema-validation.json, ci, NodeJS, documentation

Tweak docs and remove unused data (#3818)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  editor-features.md
  src/schema-validation.json
  src/schemas/json/cargo.json
Labels: schema-validation.json, ci, NodeJS, documentation

Allow more env syntaxes for GitHub Actions composite action steps
  src/schemas/json/github-action.json
Labels: none

Remove duplicate field from CONTRIBUTING.md code block
  CONTRIBUTING.md
Labels: documentation

Updating the semgrep.json file with the new rules.
  src/schemas/json/semgrep.json
Labels: none

fix: merge `poetry-plugin-dotenv` schema with `partial-poetry` schema
  src/api/json/catalog.json
  src/schemas/json/partial-poetry-plugin-dotenv.json
  src/schemas/json/partial-poetry.json
  src/schemas/json/pyproject.json
Labels: none

feat(catalog): add lua language server addons
  src/api/json/catalog.json
Labels: none

Remove duplicate field from CONTRIBUTING.md code block (#3819)
  CONTRIBUTING.md
Labels: documentation

Allow more env syntaxes for GitHub Actions composite action steps (#3821)
  src/schemas/json/github-action.json
Labels: none

fix: resolve issue with invalid schema in `partial-poetry`
  src/schemas/json/partial-poetry.json
  src/test/pyproject/poetry-plugin-dotenv-example-1.toml
  src/test/pyproject/poetry-plugin-dotenv-example-2.toml
Labels: none

fix: move `poetry-plugin-dotenv` properties into additional properties
  src/schemas/json/partial-poetry.json
Labels: none

support '.patch' versions in the 'api-version' field
  src/schemas/json/paper-plugin.json
Labels: none

add new example
  src/schemas/json/paper-plugin.json
Labels: none
