Repository SchemaStore/schemastore, pull requests merged in 2021-09, with the labels that each got.

#1824 AJV validator add full strict mode [optional]
  src/Gruntfile.js
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/github-issue-forms.json
  src/schemas/json/schema-catalog.json
Labels: gruntfile.js, NodeJs

#1828 ✨ Add Discord Webhook JSON Schema
  src/api/json/catalog.json
Labels: invalid

#1831 add: GitHub action to automatically close stale PR
  .github/workflows/stale.yml
  CONTRIBUTING.md
Labels: GitHub_ci_folder, doc_md

#1849 doc: tweak PR comment in json.cshtml
  src/json.cshtml
Labels: WARNING_AspNetFiles
