Repository SchemaStore/schemastore, pull requests merged in 2021-11, with the labels that each got.

#1912 Update MegaLinter links after migration to megalinter github org
  src/api/json/catalog.json
  src/json.cshtml
Labels: WARNING_AspNetFiles

#1922 update template with label: Are you making a PR for this?
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request_new_schema.yml
  .github/ISSUE_TEMPLATE/feature_request_website.yml
Labels: GitHub_ci_folder

#1923 Add Neovim/SchemaStore.nvim to list of editors
  src/json.cshtml
Labels: WARNING_AspNetFiles

#1924 upgrade NodeJS from 14 LTS to 16 LTS
  .github/workflows/nodejs.yml
  src/Gruntfile.js
  src/package-lock.json
  src/package.json
  src/schemas/json/travis.json
Labels: gruntfile.js, GitHub_ci_folder, NodeJs
