Repository SchemaStore/schemastore, pull requests merged in 2022-09, with the labels that each got.

#2453 Simplify component-detection-manifest schema
  src/schema-validation.json
  src/schemas/json/component-detection-manifest.json
Labels: schema-validation.json

#2454 add grunt task: "local_check_for_schema_version_too_high"
  src/Gruntfile.cjs
  src/schema-validation.json
Labels: schema-validation.json, gruntfile.cjs

#2468 Adding schema for JFrog Pipelines DSL
  src/api/json/catalog.json
  src/negative_test/jfrog-pipelines/incorrect_resource_aql.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_buildInfo.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_cronTrigger.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_distributionRule.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_fileSpec.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_gitrRepo.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_helmChart.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_image.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_incomingWebhook.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_outgoingWebhook.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_propertyBag.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_releaseBundle.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_remoteFile.yml
  src/negative_test/jfrog-pipelines/incorrect_resource_vmcluster.yml
  src/negative_test/jfrog-pipelines/incorrect_step_bash.yml
  src/negative_test/jfrog-pipelines/incorrect_step_createReleaseBundle.yml
  src/negative_test/jfrog-pipelines/incorrect_step_dockerBuild.yml
  src/negative_test/jfrog-pipelines/incorrect_step_dockerPush.yml
  src/negative_test/jfrog-pipelines/incorrect_step_goPublishBinary.yml
  src/negative_test/jfrog-pipelines/incorrect_step_goPublishModule.yml
  src/negative_test/jfrog-pipelines/incorrect_step_gradleBuild.yml
  src/negative_test/jfrog-pipelines/incorrect_step_helmDeploy.yml
  src/negative_test/jfrog-pipelines/incorrect_step_helmPublish.yml
  src/negative_test/jfrog-pipelines/incorrect_step_mvnBuild.yml
  src/negative_test/jfrog-pipelines/incorrect_step_npmBuild.yml
  src/negative_test/jfrog-pipelines/incorrect_step_npmPublish.yml
  src/negative_test/jfrog-pipelines/incorrect_step_powershell.yml
  src/negative_test/jfrog-pipelines/incorrect_step_promoteBuild.yml
  src/negative_test/jfrog-pipelines/incorrect_step_publishBuildInfo.yml
  src/negative_test/jfrog-pipelines/pipeline_with_wrong_step_type.yml
  src/negative_test/jfrog-pipelines/pipeline_without_steps.yml
  src/negative_test/jfrog-pipelines/resources_without_type_config.yml
  src/negative_test/jfrog-pipelines/without_pipelines_or_resources.yml
  src/schema-validation.json
  src/schemas/json/jfrog-pipelines.json
  src/test/jfrog-pipelines/pipelines.yml
  src/test/jfrog-pipelines/resources.yml
Labels: schema-validation.json

#2477 Improve the text of the error log
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
Labels: NodeJs, gruntfile.cjs

#2478 Add CodeQL build check
  .github/workflows/codeql-analysis.yml
  README.md
  src/Gruntfile.cjs
Labels: GitHub_ci_folder, doc_md, gruntfile.cjs

#2482 feat(bxci): new package section under output
  src/api/json/catalog.json
  src/negative_test/bxci.schema-2.x/bxci-missing-output-package-channel-branch.yml
  src/negative_test/bxci.schema-2.x/bxci-missing-output-package-publish.yml
  src/schema-validation.json
  src/schemas/json/bxci.schema-2.x.json
  src/test/bxci.schema-2.x/bxci.yml
Labels: schema-validation.json

#2484 CodeQL should only run on JavaScript changes
  .github/workflows/codeql-analysis.yml
  src/package.json
Labels: GitHub_ci_folder, NodeJs
