Repository SchemaStore/schemastore, pull requests merged in 2022-05, with the labels that each got.

#2234 build: update eslint-config-standard
  src/package-lock.json
  src/package.json
Labels: NodeJs

#2239 Rename Gruntfile.js to Gruntfile.cjs
  Makefile
  src/.eslintrc.json
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
Labels: NodeJs, makefile, eslintrcjson

#2246 Add prettier property to package.json schema
  src/schema-validation.json
  src/schemas/json/package.json
  src/schemas/json/prettierrc.json
Labels: schema-validation.json

#2250 Enable prettier on YAML files
  .github/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/nodejs.yml
  .pre-commit-config.yaml
  src/negative_test/clang-format/invalid.clang-format.yml
  src/negative_test/github-workflow/permissions-event-has-wrong-level.yaml
  src/negative_test/github-workflow/permissions-event-has-wrong-property-keys.yaml
  src/negative_test/github-workflow/permissions-must-be-object-or-string.yaml
  src/negative_test/github-workflow/permissions-string-is-not-from-enum.yaml
  src/test/clang-format/Chromium.clang-format.yml
  src/test/clang-format/GNU.clang-format.yml
  src/test/clang-format/Google.clang-format.yml
  src/test/clang-format/LLVM.clang-format.yml
  src/test/clang-format/Microsoft.clang-format.yml
  src/test/clang-format/Mozilla.clang-format.yml
  src/test/clang-format/WebKit.clang-format.yml
  src/test/github-issue-forms/official-example_2.yml
Labels: GitHub_ci_folder

#2272 Config Schema for AVA (Node.js Test Runner)
  src/api/json/catalog.json
  src/negative_test/ava/additional_properties_fails.json
  src/negative_test/ava/invalid_timeout_fails.json
  src/schema-validation.json
  src/schemas/json/ava.json
  src/schemas/json/package.json
  src/test/ava/ava.config.json
Labels: schema-validation.json

#2273 Add support for Semantic Release
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/package.json
  src/schemas/json/semantic-release.json
  src/test/semantic-release/example1.json
Labels: schema-validation.json
