Repository SchemaStore/schemastore, pull requests merged in 2022-03, with the labels that each got.

#2124 Replace grunt-tv4 with tv-4
  Makefile
  src/Gruntfile.js
  src/package-lock.json
  src/package.json
  src/schema-validation.json
Labels: gruntfile.js, NodeJs, makefile

#2127 AJV validator run now in strict mode
  CONTRIBUTING.md
  src/Gruntfile.js
  src/schema-validation.json
Labels: gruntfile.js, doc_md

#2133 Refresh contribution guide
  CONTRIBUTING.md
Labels: doc_md

#2153 Note about using base.json schema
  CONTRIBUTING.md
Labels: doc_md

#2156 Move Zuul CI schema into the schemastore catalog
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/zuul/jobs.yaml
  src/negative_test/zuul/jobs2.yaml
  src/schemas/json/zuul.json
  src/test/zuul/jobs.yaml
Labels: GitHub_ci_folder
