Repository SchemaStore/schemastore, pull requests merged in 2022-01, with the labels that each got.

#1989 Node.js reduces build time
  .github/workflows/nodejs.yml
  src/Gruntfile.js
Labels: gruntfile.js, GitHub_ci_folder

#2003 GitHub action stale must not run on the fork
  .github/workflows/stale.yml
  src/schemas/json/travis.json
Labels: GitHub_ci_folder

#2006 Add codeowners for ansible schemas
  .github/CODEOWNERS
Labels: GitHub_ci_folder

#2013 Prohibit adding negative test for tv4 validator.
  src/Gruntfile.js
Labels: gruntfile.js

#2043 Remove CSS and javascript schema + API
  src/_Layout.cshtml
  src/api/css/JsonApi.ashx
  src/api/css/css-main.xml
  src/api/javascript/catalog.json
  src/css.cshtml
  src/javascript.cshtml
  src/schemas/css/css-module-animations.xml
  src/schemas/css/css-module-background-borders.xml
  src/schemas/css/css-module-basic-box.xml
  src/schemas/css/css-module-basic-ui.xml
  src/schemas/css/css-module-color.xml
  src/schemas/css/css-module-counter-styles.xml
  src/schemas/css/css-module-flex-box.xml
  src/schemas/css/css-module-fonts.xml
  src/schemas/css/css-module-generated-content.xml
  src/schemas/css/css-module-grid-layout.xml
  src/schemas/css/css-module-image-values-replaced-content.xml
  src/schemas/css/css-module-layout.xml
  src/schemas/css/css-module-lists.xml
  src/schemas/css/css-module-multi-column.xml
  src/schemas/css/css-module-namespaces.xml
  src/schemas/css/css-module-paged-media.xml
  src/schemas/css/css-module-regions.xml
  src/schemas/css/css-module-ruby.xml
  src/schemas/css/css-module-selectors.xml
  src/schemas/css/css-module-shapes.xml
  src/schemas/css/css-module-speech.xml
  src/schemas/css/css-module-svg-filters.xml
  src/schemas/css/css-module-svg-gradients.xml
  src/schemas/css/css-module-svg-interactivity.xml
  src/schemas/css/css-module-svg-masking.xml
  src/schemas/css/css-module-svg-painting.xml
  src/schemas/css/css-module-svg-text.xml
  src/schemas/css/css-module-syntax.xml
  src/schemas/css/css-module-tables.xml
  src/schemas/css/css-module-text.xml
  src/schemas/css/css-module-transforms.xml
  src/schemas/css/css-module-transitions.xml
  src/schemas/css/css-module-values.xml
  src/schemas/css/css-module-will-change.xml
  src/schemas/css/css-module-writing-modes.xml
  src/schemas/css/css-vendor-moz.xml
  src/schemas/css/css-vendor-ms.xml
  src/schemas/css/css-vendor-o.xml
  src/schemas/css/css-vendor-webkit.xml
  src/schemas/javascript/angular.intellisense.js
  src/schemas/javascript/gruntfile.intellisense-setup.js
  src/schemas/javascript/gulpfile.intellisense-setup.js
  src/schemas/javascript/jquery.intellisense.js
  src/schemas/javascript/react.intellisense.js
Labels: WARNING_AspNetFiles

#2055 remove CSS spec from CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: doc_md

#2060 update AJV to the latest version
  src/Gruntfile.js
  src/package-lock.json
  src/package.json
  src/schema-validation.json
Labels: gruntfile.js, NodeJs

#2062 Json api: limit to bare minimum the "name" character set
  src/api/json/catalog.json
  src/js/site.js
  src/schemas/json/schema-catalog.json
Labels: WARNING_AspNetFiles
