Repository SchemaStore/schemastore, pull requests merged in 2022-08, with the labels that each got.

#2390 Add UTAM page object schema
  src/api/json/catalog.json
  src/negative_test/utam-page-object/invalid-interface-with-elements.utam.json
  src/negative_test/utam-page-object/missing-root-selector.utam.json
  src/schema-validation.json
  src/schemas/json/utam-page-object.json
  src/test/utam-page-object/valid-page-object.utam.json
Labels: schema-validation.json

#2391 Add Component Detection manifest schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/component-detection-manifest.json
  src/test/component-detection-manifest/cgmanifest.json
Labels: schema-validation.json

#2401 Adding deviceupdate import manifest schema version 5
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/azure-deviceupdate-import-manifest-5.0.json
  src/schemas/json/azure-deviceupdate-manifest-definitions-5.0.json
  src/test/azure-deviceupdate-import-manifest-5.0/relatedFiles-importManifest.json
Labels: schema-validation.json

#2412 build: Throw error a passed `--SchemaName` does not exist
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#2414 include kong validation
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/kong_json_schema.json
  src/test/kong_json_schema/kong.yml
Labels: schema-validation.json

#2417 update schema_validation.json internal comment
  src/schema-validation.json
Labels: schema-validation.json

#2422 Redirect a schema to an external URL site
  src/schema-validation.json
  src/schemas/json/ksp-avc.json
  src/schemas/json/ksp-ckan.json
  src/schemas/json/neoload.json
Labels: schema-validation.json

#2425 add extra grunt task to validate skiptest[] list
  CONTRIBUTING.md
  src/Gruntfile.cjs
  src/schema-validation.json
  src/test/ksp-avc/KspMaxVersion.version.json
  src/test/ksp-avc/KspMinMaxVersion.version.json
  src/test/ksp-avc/KspMinVersion.version.json
  src/test/ksp-avc/KspVersion.version.json
  src/test/ksp-avc/KspVersionComplete.version.json
  src/test/ksp-ckan/Firespitter-6.3.5.ckan.json
  src/test/ksp-ckan/MissionTest-1.0.ckan.json
  src/test/ksp-ckan/ModuleManager-2.5.1.ckan.json
  src/test/neoload/neoload-allthethings.json
Labels: doc_md, schema-validation.json, gruntfile.cjs

#2439 Adding Device Update for IoT Hub update-manifest v5 schema.
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/azure-deviceupdate-update-manifest-5.json
  src/test/azure-deviceupdate-update-manifest-5/full-updatemanifest.json
  src/test/azure-deviceupdate-update-manifest-5/mini-updatemanifest.json
Labels: schema-validation.json

#2451 Add Plugin URL Link for Visual Studio Code
  src/json.cshtml
Labels: WARNING_AspNetFiles
