Repository SchemaStore/schemastore, pull requests merged in 2022-07, with the labels that each got.

#2334 BX CI: add new schema to catalog
  src/api/json/catalog.json
  src/negative_test/bxci.schema-1.0/bxci.yml
  src/schema-validation.json
  src/schemas/json/bxci.schema-1.0.json
  src/test/bxci.schema-1.0/bxci.yml
Labels: schema-validation.json

#2332 Remove hammerkit schema
  src/api/json/catalog.json
  src/negative_test/hammerkit/invalid_envs.json
  src/schema-validation.json
  src/schemas/json/hammerkit.json
  src/test/hammerkit/build.json
Labels: schema-validation.json

#2346 BXCI: add new patch version
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/bxci.schema-1.0.1.json
  src/test/bxci.schema-1.0.1/bxci-no-config.yml
  src/test/bxci.schema-1.0.1/bxci-no-jenkins.yml
Labels: schema-validation.json

#2361 add: in contibuting.md "Avoid common PR problem"
  CONTRIBUTING.md
Labels: doc_md

#2368 New TOML Schemas: Add various schemas from Taplo
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/cargo-make.json
  src/schemas/json/cargo.json
  src/schemas/json/dein.json
  src/schemas/json/fly.json
  src/schemas/json/pyproject.json
  src/schemas/json/replit.json
  src/schemas/json/rust-toolchain.json
  src/schemas/json/rustfmt.json
  src/test/cargo-make/cargo-make.json
  src/test/cargo/config.json
  src/test/dein/dein.json
  src/test/fly/fly.json
  src/test/pyproject/dynamic.json
  src/test/pyproject/pyproject.json
  src/test/pyproject/simple.json
  src/test/replit/replit.json
  src/test/rust-toolchain/rust-toolchain.json
  src/test/rustfmt/rustfmt.json
Labels: schema-validation.json

#2369 Allow specifying a single file to validate
  CONTRIBUTING.md
  src/Gruntfile.cjs
Labels: doc_md, gruntfile.cjs

#2370 Support TOML test files
  .github/PULL_REQUEST_TEMPLATE.md
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
  src/test/hemtt-0.6.2/hemtt-test.toml
Labels: GitHub_ci_folder, NodeJs, gruntfile.cjs

#2371 Update PM2 Schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/pm2-ecosystem.json
  src/test/pm2-ecosystem/ecosystem2.json
Labels: schema-validation.json

#2373 Add TOML to editor-config
  .editorconfig
Labels: editorconfig

#2382 Add: "Single source of truth" in doc
  CONTRIBUTING.md
Labels: doc_md

#2383 [BX CI]: add new major version
  src/api/json/catalog.json
  src/negative_test/bxci.schema-2.0.0/bxci.yml
  src/schema-validation.json
  src/schemas/json/bxci.schema-2.0.0.json
  src/test/bxci.schema-2.0.0/bxci.yml
Labels: schema-validation.json
