Repository SchemaStore/schemastore, pull requests merged in 2022-12, with the labels that each got.

#2607 clasp.json: refresh schema
  src/schema-validation.json
  src/schemas/json/base-04.json
  src/schemas/json/clasp.json
Labels: schema-validation.json

#2632 Fix Unreal Engine uproject plugin reference descriptor missing fields
  src/schema-validation.json
  src/schemas/json/uproject.json
Labels: schema-validation.json

#2634 agripparc 2.0: add schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/agripparc-2.0.json
Labels: schema-validation.json

#2640 lint.yml remove editorconfig-checker
  .github/workflows/lint.yml
Labels: GitHub_ci_folder

#2644 Scan schema files for duplicate keys
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#2652 `agripparc-2.0`: remove schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/agripparc-2.0.json
Labels: schema-validation.json

#2656 docs: Fix formatting of file extensions
  CONTRIBUTING.md
Labels: doc_md

#2669 chore: Add prettier formatter dependencies
  src/package-lock.json
  src/package.json
Labels: NodeJs

#2671 docs: Instruct to install Prettier editor plugin
  CONTRIBUTING.md
Labels: doc_md

#2679 tweak(gruntfile): Improve typing
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#2683 Add Ruff schema to pyproject.toml
  src/api/json/catalog.json
  src/negative_test/pyproject/ruff-bad-line-length.toml
  src/schema-validation.json
  src/schemas/json/pyproject.json
  src/schemas/json/ruff.json
  src/test/pyproject/ruff-sample-project.toml
Labels: schema-validation.json
