Repository SchemaStore/schemastore, pull requests merged in 2022-11, with the labels that each got.

#2563 cheatsheets.json: refresh schema
  src/schema-validation.json
  src/schemas/json/cheatsheets.json
Labels: schema-validation.json

#2600 base-04.json: base.json version for draft-04
  CONTRIBUTING.md
  src/api/json/catalog.json
  src/schemas/json/base-04.json
Labels: doc_md

#2603 Add the support of `hostGroup` and `otelCollector` for Hardware Sentry configuration file (hws-config.yaml)
  src/schema-validation.json
  src/schemas/json/hws-config.json
  src/test/hws-config/hws-config.yaml
Labels: schema-validation.json

#2608 prisma: refresh schema
  src/schema-validation.json
  src/schemas/json/prisma.json
Labels: schema-validation.json

#2617 update package.json
  src/package-lock.json
  src/package.json
Labels: NodeJs

#2623 Detekt Configuration Schema 1.22.0
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/detekt-1.14.1.json
  src/schemas/json/detekt-1.22.0.json
  src/test/detekt-1.14.1/default-detekt-config.json
  src/test/detekt-1.22.0/default-detekt-config.json
  src/test/detekt-1.22.0/generated-detekt-config.json
Labels: schema-validation.json

#2621 Revert+update haxelib.json schema
  src/schema-validation.json
  src/schemas/json/haxelib.json
Labels: schema-validation.json
