Repository SchemaStore/schemastore, pull requests merged in 2022-10, with the labels that each got.

#2519 Improve `CONTRIBUTING.md` formatting and instruction
  CONTRIBUTING.md
Labels: doc_md

#2520 Modify rust toolchain schema
  src/package-lock.json
  src/schemas/json/rust-toolchain.json
  src/test/rust-toolchain/channel_only01.json
  src/test/rust-toolchain/channel_only02.json
  src/test/rust-toolchain/components_and_targets.json
  src/test/rust-toolchain/custom_toolchain01.json
  src/test/rust-toolchain/custom_toolchain02.json
  src/test/rust-toolchain/rust-toolchain.json
Labels: NodeJs

#2533 Add grunt task to check for fileMatch that include a directory separator
  .github/workflows/codeql-analysis.yml
  src/Gruntfile.cjs
  src/api/json/catalog.json
  src/json.cshtml
Labels: WARNING_AspNetFiles, GitHub_ci_folder, gruntfile.cjs

#2534 Visual Studio Code with URL text is too long
  src/json.cshtml
Labels: WARNING_AspNetFiles

#2549 outsource io-pack schema to get rid of manual sync
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/io-package.json
  src/test/io-package/io-package.json
Labels: schema-validation.json

#2565 chore: update taskfile schema to use a reference to taskfile.dev
  src/api/json/catalog.json
  src/negative_test/taskfile/Taskfile.json
  src/schema-validation.json
  src/schemas/json/taskfile.json
  src/test/taskfile/includes_prop_only.json
  src/test/taskfile/tasks_prop_only.json
Labels: schema-validation.json

#2567 Add schema for the NPM package badges
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/npm-badges.json
  src/schemas/json/package.json
  src/test/npm-badges/badges.json
Labels: schema-validation.json
