Repository SchemaStore/schemastore, pull requests merged in 2023-10, with the labels that each got.

#3276 Validated libman.json under strict mode
  src/schema-validation.json
  src/schemas/json/libman.json
Labels: hacktoberfest-accepted, schema-validation.json

#3279 Fix up.json validation for strict mode (#3117)
  src/schema-validation.json
  src/schemas/json/up.json
Labels: schema-validation.json

#3285 GitVersion Schema now links to external site (GitHub)
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/gitversion.json
Labels: schema-validation.json

#3287 Add cibuildwheel to pyproject.toml
  src/api/json/catalog.json
  src/negative_test/cibuildwheel/cibuildwheel-bad-override.toml
  src/negative_test/cibuildwheel/cibuildwheel-unreco.toml
  src/negative_test/pyproject/cibuildwheel-bad-override.toml
  src/negative_test/pyproject/cibuildwheel-unreco.toml
  src/schema-validation.json
  src/schemas/json/cibuildwheel.json
  src/schemas/json/pyproject.json
  src/test/cibuildwheel/cibuildwheel-default.toml
  src/test/cibuildwheel/cibuildwheel-overrides.toml
  src/test/pyproject/cibuildwheel-default.toml
  src/test/pyproject/cibuildwheel-overrides.toml
Labels: schema-validation.json

#3302 Revert "Validated libman.json under strict mode"
  src/schema-validation.json
  src/schemas/json/libman.json
Labels: schema-validation.json

#3272 chore: Update most dependencies and fix ESLint configuration
  src/.eslintrc.json
  src/package-lock.json
  src/package.json
Labels: NodeJs, eslintrcjson

#3304 Gaspar Schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/gaspar-1.0.json
  src/test/gaspar-1.0/gaspar-1.0.json
Labels: schema-validation.json

#3289 Add scikit-build to pyproject.toml
  src/api/json/catalog.json
  src/negative_test/pyproject/scikit-build-no-template.toml
  src/negative_test/pyproject/scikit-build-unknown.toml
  src/schema-validation.json
  src/schemas/json/pyproject.json
  src/schemas/json/scikit-build.json
  src/test/pyproject/scikit-build-defaults.toml
Labels: schema-validation.json

#3309 chore: Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: doc_md

#3315 chore: pull Poetry out into seperate file
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/poetry.json
  src/schemas/json/pyproject.json
Labels: schema-validation.json

#3307 Add setuptools to pyproject.toml
  src/api/json/catalog.json
  src/negative_test/pyproject/setuptools-invalid-find.toml
  src/schema-validation.json
  src/schemas/json/pyproject.json
  src/schemas/json/setuptools.json
  src/test/pyproject/01-setuptools.toml
  src/test/pyproject/02-setuptools.toml
  src/test/pyproject/03-setuptools.toml
  src/test/pyproject/04-setuptools.toml
  src/test/pyproject/05-setuptools.toml
  src/test/pyproject/06-setuptools.toml
  src/test/pyproject/07-setuptools.toml
  src/test/pyproject/08-setuptools.toml
  src/test/pyproject/09-setuptools.toml
  src/test/pyproject/simple.toml
Labels: schema-validation.json

#3152 Adding Google's first-party-sets
  src/api/json/catalog.json
Labels: Stale

#3326 docs: Improve wording and explain `allowTrailingCommas` property
  CONTRIBUTING.md
  editor-features.md
Labels: doc_md

#3060 Hatch support
  src/api/json/catalog.json
  src/negative_test/hatch/both-dev-mode-dirs-and-exact.toml
  src/negative_test/hatch/both-vcs-and-static.toml
  src/negative_test/hatch/invalid-platform-override.toml
  src/negative_test/hatch/try-redefining-pypi.toml
  src/schema-validation.json
  src/schemas/json/hatch.json
  src/schemas/json/pyproject.json
  src/test/hatch/minimal.toml
  src/test/hatch/oroborous.toml
  src/test/hatch/version-path.toml
  src/test/hatch/version-vcs.toml
  src/test/pyproject/hatch.toml
Labels: schema-validation.json
