Repository SchemaStore/schemastore, pull requests merged in 2023-01, with the labels that each got.

#2693 test: Improve error message for invalid `$schema`s
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#2695 jekyll: refresh schema
  src/schema-validation.json
  src/schemas/json/jekyll.json
Labels: schema-validation.json

#2698 CONTRIBUTING: refresh page
  CONTRIBUTING.md
Labels: doc_md

#2700 Remove all smart quotes
  src/Gruntfile.cjs
  src/schemas/json/airlock-microgateway-3.0.json
  src/schemas/json/airlock-microgateway-3.1.json
  src/schemas/json/airlock-microgateway-3.2.json
  src/schemas/json/bamboo-spec.json
  src/schemas/json/cargo.json
  src/schemas/json/chart.json
  src/schemas/json/chutzpah.json
  src/schemas/json/circleciconfig.json
  src/schemas/json/clang-format.json
  src/schemas/json/electron-builder.json
  src/schemas/json/eslintrc.json
  src/schemas/json/expo-37.0.0.json
  src/schemas/json/expo-38.0.0.json
  src/schemas/json/expo-39.0.0.json
  src/schemas/json/expo-40.0.0.json
  src/schemas/json/expo-41.0.0.json
  src/schemas/json/expo-42.0.0.json
  src/schemas/json/expo-46.0.0.json
  src/schemas/json/feed-1.json
  src/schemas/json/hugo.json
  src/schemas/json/huskyrc.json
  src/schemas/json/install.json
  src/schemas/json/kubernetes-definitions.json
  src/schemas/json/liquibase-3.2.json
  src/schemas/json/liquibase.json
  src/schemas/json/openfin.json
  src/schemas/json/pm2-ecosystem.json
  src/schemas/json/publiccode.json
  src/schemas/json/rehyperc.json
  src/schemas/json/remarkrc.json
  src/schemas/json/travis.json
  src/schemas/json/tslint.json
  src/schemas/json/vega-lite.json
  src/schemas/json/yamllint.json
  src/test/bamboo-spec/bamboo-spec-deployment.json
  src/test/feed-1/microblog.json
  src/test/feed-1/podcast.json
  src/test/feed/microblog.json
  src/test/feed/podcast.json
  src/test/pyproject/poetry-complete.toml
  src/test/web-types/vue.web-types.json
Labels: gruntfile.cjs

#2701 File matching for hammerkit
  src/api/json/catalog.json
  src/negative_test/hammerkit/invalid_envs.json
  src/schema-validation.json
  src/schemas/json/hammerkit.json
  src/test/hammerkit/.hammerkit.json
Labels: schema-validation.json

#2710 schema: add typo3 support
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/typo3.json
  src/test/typo3/typo3.yml
Labels: schema-validation.json

#2712 docs: Explicitly disallow adding undocumented properties to schema
  CONTRIBUTING.md
Labels: doc_md

#2713 chore: Apply EditorConfig to more files
  .editorconfig
Labels: editorconfig

#2716 CONTRIBUTING: fix `title` naming convention
  CONTRIBUTING.md
Labels: doc_md

#2727 apple-app-site-association.json: refresh schema
  src/schema-validation.json
  src/schemas/json/apple-app-site-association.json
Labels: schema-validation.json

#2726 anywork-ac: refresh schema
  src/schema-validation.json
  src/schemas/json/anywork-ac-1.0.json
Labels: schema-validation.json

#2720 clangd: refresh schema
  src/schema-validation.json
  src/schemas/json/clangd.json
  src/test/clangd/clangd-3.yml
Labels: schema-validation.json

#2680 Assert that top-level-$refs are standalone
  src/Gruntfile.cjs
  src/schema-validation.json
  src/schemas/json/block.json
  src/schemas/json/haxelib.json
  src/schemas/json/markdownlint.json
  src/schemas/json/renovate.json
  src/schemas/json/taskfile.json
  src/schemas/json/theme-v1.json
  src/schemas/json/xunit-2.2.json
  src/schemas/json/xunit-2.3.json
  src/schemas/json/xunit.runner.schema.json
Labels: schema-validation.json, gruntfile.cjs

#2672 Update aiproj
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/aiproj-1.0.json
  src/schemas/json/aiproj-1.1.json
  src/test/aiproj-1.0/php-sample.json
  src/test/aiproj-1.1/php-sample.json
Labels: schema-validation.json

#2759 minecraft-advancement.json: refresh schema (part 1)
  src/schema-validation.json
  src/schemas/json/minecraft-advancement.json
Labels: schema-validation.json

#2770 Improve build/test experience
  CONTRIBUTING.md
  Makefile
  src/.c8rc.json
  src/package.json
  src/scripts/coverage.sh
  src/scripts/dirty_repository_check.sh
Labels: doc_md, NodeJs, makefile

#2771 chore: Update Node dependencies to latest
  src/package-lock.json
  src/package.json
Labels: NodeJs
