Repository SchemaStore/schemastore, pull requests merged in 2023-08, with the labels that each got.

#3106 Improve Gruntfile readability
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#3115 Nuke tv4 validator
  CONTRIBUTING.md
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/cloudify.json
  src/schemas/json/jdt.json
  src/schemas/json/jsonld.json
  src/schemas/json/lsdlschema-0.7.json
  src/schemas/json/lsdlschema-1.0.json
  src/schemas/json/lsdlschema-1.2.json
  src/schemas/json/lsdlschema-2.0.json
  src/schemas/json/lsdlschema-3.0.json
  src/schemas/json/lsdlschema-3.1.json
  src/schemas/json/lsdlschema-3.2.json
  src/schemas/json/lsdlschema-3.3.json
  src/schemas/json/lsdlschema-3.4.json
  src/schemas/json/lsdlschema.json
  src/schemas/json/mimetypes.json
  src/schemas/json/nodemon.json
  src/schemas/json/sarif-2.1.0-rtm.0.json
  src/schemas/json/sarif-2.1.0-rtm.1.json
  src/schemas/json/sarif-2.1.0-rtm.2.json
  src/schemas/json/sarif-2.1.0-rtm.3.json
  src/schemas/json/sarif-2.1.0-rtm.4.json
  src/schemas/json/sarif-2.1.0-rtm.5.json
  src/schemas/json/sarif-2.1.0.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.0.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.1.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.2.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.3.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.4.json
  src/schemas/json/sarif-external-property-file-2.1.0-rtm.5.json
  src/schemas/json/sarif-external-property-file-2.1.0.json
  src/schemas/json/sarif-external-property-file.json
  src/schemas/json/sarif.json
  src/schemas/json/schema-org-action.json
  src/schemas/json/schema-org-contact-point.json
  src/schemas/json/schema-org-place.json
  src/schemas/json/schema-org-thing.json
  src/schemas/json/sourcemap-v3.json
  src/schemas/json/swagger-2.0.json
  src/schemas/json/toolinfo.1.1.0.json
  src/schemas/json/vega.json
  src/test/schema-org-place/example3.json
Labels: doc_md, NodeJs, schema-validation.json, gruntfile.cjs

#3128 Adding SARIF 2.1.0-rtm6
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/sarif-2.1.0-rtm.6.json
Labels: schema-validation.json

#3120 Improve contributing experience
  .github/workflows/nodejs.yml
  CONTRIBUTING.md
  README.md
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schema-validation.schema.json
Labels: GitHub_ci_folder, doc_md, NodeJs, schema-validation.json, gruntfile.cjs

#3132 Move `.prettierrc.json` to project root
  .git-blame-ignore-revs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request_new_schema.yml
  .github/ISSUE_TEMPLATE/feature_request_website.yml
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/nodejs.yml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
  .prettierrc.json
  src/package.json
Labels: GitHub_ci_folder, NodeJs

#3134 fix: Upgrade usages of `draft-03` and `draft-06`
  src/schema-validation.json
  src/schemas/json/asmdef.json
  src/schemas/json/avro-avsc.json
  src/schemas/json/install.json
  src/schemas/json/ninjs-1.0.json
  src/schemas/json/one-service-descriptor-schema-0.1.json
  src/schemas/json/petstore-v1.0.json
  src/schemas/json/up.json
  src/test/petstore-v1.0/petstore.json
Labels: schema-validation.json

#3163 docs: Overhaul `editor-features.md`
  editor-features.md
Labels: doc_md

#3164 fix(website): Tweak IDE extension links
  src/json.cshtml
Labels: WARNING_AspNetFiles

#3166 docs: Improve clarity and fix typos
  CONTRIBUTING.md
  README.md
Labels: doc_md

#3179 docs: Fix links and add non-strict mode section
  CONTRIBUTING.md
Labels: doc_md
