Repository SchemaStore/schemastore, pull requests merged in 2023-11, with the labels that each got.

#3368 Allow trailing commas for `tsconfig.json`
  src/schema-validation.json
  src/schemas/json/tsconfig.json
Labels: schema-validation.json

#3374 Add note about undocumented features
  editor-features.md
Labels: doc_md

#3375 Update fleet schema for 0.8
  src/api/json/catalog.json
  src/negative_test/rancher-fleet-0.5/unkown-fields.yaml
  src/negative_test/rancher-fleet-0.8/false-type-do-not-deploy.yaml
  src/negative_test/rancher-fleet-0.8/unkown-fields.yaml
  src/schema-validation.json
  src/schemas/json/rancher-fleet-0.5.json
  src/schemas/json/rancher-fleet-0.8.json
  src/test/rancher-fleet-0.5/fleet-official-example.yaml
  src/test/rancher-fleet-0.5/yaml-overlays.yaml
  src/test/rancher-fleet-0.8/fleet-official-example.yaml
  src/test/rancher-fleet-0.8/helm-overlays-with-do-not-deploy.yaml
  src/test/rancher-fleet-0.8/yaml-overlays.yaml
Labels: schema-validation.json

#3378 chore(codeowners): change ownership of CircleCI config
  .github/CODEOWNERS
Labels: GitHub_ci_folder

#3393 Add a Dependabot config to update GitHub action versions
  .github/dependabot.yml
Labels: GitHub_ci_folder
