Repository SchemaStore/schemastore, pull requests merged in 2023-09, with the labels that each got.

#3181 Allow node10 in tsconfig.json moduleResolution
  src/schema-validation.json
  src/schemas/json/tsconfig.json
Labels: schema-validation.json

#3169 fix: Add and fix more `id`/`$id` fields
  src/Gruntfile.cjs
  src/schemas/json/agripparc-1.2.json
  src/schemas/json/agripparc-1.3.json
  src/schemas/json/aiproj-1.0.json
  src/schemas/json/airlock-microgateway-3.0.json
  src/schemas/json/airlock-microgateway-3.1.json
  src/schemas/json/azure-iot-edge-deployment-template-1.0.json
  src/schemas/json/azure-iot-edge-deployment-template-2.0.json
  src/schemas/json/azure-iot-edgeagent-deployment-1.0.json
  src/schemas/json/azure-iot-edgehub-deployment-1.0.json
  src/schemas/json/bxci.schema-1.0.1.json
  src/schemas/json/bxci.schema-1.0.json
  src/schemas/json/bxci.schema-2.0.0.json
  src/schemas/json/content-security-policy-report-2.json
  src/schemas/json/datalogic-scan2deploy-android.json
  src/schemas/json/datalogic-scan2deploy-ce.json
  src/schemas/json/detekt-1.14.1.json
  src/schemas/json/devinit.schema-1.0.json
  src/schemas/json/devinit.schema-2.0.json
  src/schemas/json/devinit.schema-3.0.json
  src/schemas/json/devinit.schema-4.0.json
  src/schemas/json/devinit.schema-5.0.json
  src/schemas/json/expo-37.0.0.json
  src/schemas/json/expo-38.0.0.json
  src/schemas/json/expo-39.0.0.json
  src/schemas/json/expo-40.0.0.json
  src/schemas/json/expo-41.0.0.json
  src/schemas/json/expo-42.0.0.json
  src/schemas/json/install.json
  src/schemas/json/jasonette.json
  src/schemas/json/jreleaser-1.6.0.json
  src/schemas/json/json-api-1.0.json
  src/schemas/json/lazydocker.json
  src/schemas/json/liquibase.json
  src/schemas/json/mboats-config-0.1.json
  src/schemas/json/mta.json
  src/schemas/json/mtad.json
  src/schemas/json/mtaext.json
  src/schemas/json/npm-link-up.json
  src/schemas/json/nuget-project-3.3.0.json
  src/schemas/json/package.manifest-7.0.0.json
  src/schemas/json/package.manifest-8.0.0.json
  src/schemas/json/pantsbuild-2.14.0.json
  src/schemas/json/pantsbuild-2.15.0.json
  src/schemas/json/prettierrc-1.8.2.json
  src/schemas/json/sarif-2.0.0-csd.2.beta.2018-10-10.json
  src/schemas/json/sarif-2.0.0-csd.2.beta.2019-01-09.json
  src/schemas/json/sarif-2.0.0-csd.2.beta.2019-01-24.json
  src/schemas/json/schema-draft-v4.json
  src/schemas/json/sourcehut-build-0.41.2.json
  src/schemas/json/stylintrc.json
  src/schemas/json/winget-pkgs-singleton-0.1.json
  src/schemas/json/xs-app.json
Labels: gruntfile.cjs

#3200 chore: Upgrade Prettier
  .pre-commit-config.yaml
  src/Gruntfile.cjs
  src/css/site.css
  src/package-lock.json
  src/package.json
Labels: WARNING_AspNetFiles, NodeJs, gruntfile.cjs

#3202 build: Precheck `catalog.json` against bad JSON
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
Labels: NodeJs, gruntfile.cjs

#3211 add support for cargo-playdate-0.1
  src/schema-validation.json
  src/schemas/json/cargo.json
  src/test/cargo/playdate-metadata-assets-list.toml
  src/test/cargo/playdate-metadata-assets-opts.toml
  src/test/cargo/playdate-metadata-assets-table.toml
  src/test/cargo/playdate-metadata-info-max.toml
  src/test/cargo/playdate-metadata-info-min.toml
Labels: schema-validation.json

#3226 Rename 'comet.json' to 'starlake.json' and update schema
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/starlake.json
  src/test/starlake/application-1.json
  src/test/starlake/application.sl.yml
  src/test/starlake/ddl2yml.sl.yml
  src/test/starlake/domain.json
  src/test/starlake/env.json
  src/test/starlake/expectations.json
  src/test/starlake/extract-1.json
  src/test/starlake/extract-2.json
  src/test/starlake/load-1.json
  src/test/starlake/load-2.json
  src/test/starlake/refs.json
  src/test/starlake/table.json
  src/test/starlake/transform-1.json
  src/test/starlake/transform-2.json
  src/test/starlake/transform.sl.yml
  src/test/starlake/types.json
  src/test/starlake/types.sl.yml
Labels: schema-validation.json

#3221 Update ruff's JSON schema
  src/schema-validation.json
  src/schemas/json/ruff.json
Labels: schema-validation.json

#3227 Remove verbosness in of schema catalog entries
  src/Gruntfile.cjs
  src/api/json/catalog.json
  src/schema-validation.json
  src/schema-validation.schema.json
Labels: schema-validation.json, gruntfile.cjs

#3241 fix: `catalog.json` assertion task properly throws
  src/Gruntfile.cjs
  src/api/json/catalog.json
Labels: gruntfile.cjs

#3243 restructure(gruntfile): Improve ergonomics of global schema dialect list array
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
Labels: NodeJs, gruntfile.cjs

#3242 feat: Require `$id` or `id` on all schemas
  src/Gruntfile.cjs
  src/schemas/json/bxci.schema-1.0.1.json
  src/schemas/json/jreleaser-1.8.0.json
  src/schemas/json/nest-cli.json
  src/schemas/json/pantsbuild-2.17.0.json
  src/schemas/json/sqlc-2.0.json
  src/schemas/json/warp-keysets.json
  src/schemas/json/warp-themes.json
  src/schemas/json/warp-workflows.json
  src/schemas/json/web-types.json
Labels: gruntfile.cjs

#3244 Remove special case of former `tv4`-validated schemas
  .prettierignore
  src/Gruntfile.cjs
  src/schema-validation.json
  src/schema-validation.schema.json
  src/schemas/json/cloudify.json
  src/schemas/json/tslint.json
  src/test/cloudify/docker-terraform-container-using-docker-terraform-module.json
  src/test/cloudify/k8s-storage-class.json
  src/test/cloudify/openstack-blueprint.json
  src/test/cloudify/openstack.json
  src/test/cloudify/utilities-cloudinit-aws.json
  src/test/cloudify/utilities-deployment-proxy.json
  src/test/cloudify/utilities-rest.json
Labels: schema-validation.json, gruntfile.cjs

#3259 fix: Allow trailing commas for `launchsettings.json`
  src/schema-validation.json
  src/schema-validation.schema.json
  src/schemas/json/launchsettings.json
Labels: schema-validation.json

#3260 Strict draft-07 schema support
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/metaschema-draft-07-unofficial-strict.json
Labels: schema-validation.json

#3263 Mention unofficial schema
  CONTRIBUTING.md
Labels: doc_md

#3267 Hugo configuration schema - wrong "sectionPagesMenu" type #3207
  src/schemas/json/hugo.json
Labels: hacktoberfest-accepted
