Repository SchemaStore/schemastore, pull requests merged in 2023-07, with the labels that each got.

#3051 Recommend draft-07 over draft-04
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: GitHub_ci_folder, doc_md

#3084 ci: Fix Prettier version and plugins to known working versions
  .pre-commit-config.yaml
  src/.prettierrc.json
  src/css/site.css
  src/schemas/json/vtesttree-schema.json
Labels: WARNING_AspNetFiles

#3089 grunt: Decrease requirements for new schemas
  src/Gruntfile.cjs
Labels: gruntfile.cjs

#3104 feat: Opt-in Integration of SchemaSafe
  src/Gruntfile.cjs
  src/package-lock.json
  src/package.json
Labels: NodeJs, gruntfile.cjs
