Repository SchemaStore/schemastore, pull requests merged in 2023-12, with the labels that each got.

#3424 Update lazygit schema source
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/lazygit.json
Labels: schema-validation.json

#3174 add new Hugo theme JSON schema
  src/api/json/catalog.json
  src/negative_test/hugo-theme/basic-requirement.toml
  src/negative_test/hugo-theme/incorrect-values.toml
  src/negative_test/hugo-theme/mistake-author-s.toml
  src/schema-validation.json
  src/schemas/json/hugo-theme.json
  src/test/hugo-theme/multiple-authors.toml
  src/test/hugo-theme/single-author.toml
Labels: schema-validation.json

#3422 feat: add mypy schema
  src/api/json/catalog.json
  src/negative_test/pyproject/mypy-emptymodule.toml
  src/negative_test/pyproject/mypy-extra.toml
  src/negative_test/pyproject/mypy-nomodule.toml
  src/schema-validation.json
  src/schemas/json/partial-mypy.json
  src/schemas/json/pyproject.json
  src/test/pyproject/mypy-01.toml
  src/test/pyproject/mypy-02.toml
Labels: schema-validation.json

#3469 docs: Fix typo
  CONTRIBUTING.md
Labels: doc_md

#3466 add schemas for PDM
  src/api/json/catalog.json
  src/negative_test/pdm/invalid_enum_cache_method.json
  src/negative_test/pdm/invalid_enum_index_type.json
  src/negative_test/pdm/invalid_enum_strategy_save.json
  src/negative_test/pdm/invalid_enum_strategy_update.json
  src/negative_test/pdm/pypi_key_no_object.json
  src/negative_test/pdm/repository_key_no_object.json
  src/negative_test/pyproject/pdm-path-required.toml
  src/negative_test/pyproject/pdm-script-method-exclusive.toml
  src/negative_test/pyproject/pdm-source-no-name.toml
  src/schema-validation.json
  src/schemas/json/partial-pdm.json
  src/schemas/json/pdm.json
  src/schemas/json/pyproject.json
  src/test/pdm/pdm.json
  src/test/pyproject/pdm_tool.toml
Labels: schema-validation.json

#3472 fix: mypy missing fields
  CONTRIBUTING.md
  src/schemas/json/partial-mypy.json
Labels: doc_md

#3473 refactor: use partial- for remaining pyproject entries
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/cibuildwheel.json
  src/schemas/json/partial-cibuildwheel.json
  src/schemas/json/partial-poetry.json
  src/schemas/json/partial-scikit-build.json
  src/schemas/json/partial-setuptools.json
  src/schemas/json/poetry.json
  src/schemas/json/pyproject.json
  src/schemas/json/scikit-build.json
  src/schemas/json/setuptools.json
Labels: schema-validation.json

#3477 ci: Add code-owner-self-merge
  .github/CODEOWNERS
  .github/workflows/codeowners-merge.yml
Labels: GitHub_ci_folder

#3478 docs: Update `editor-features.md`
  editor-features.md
Labels: doc_md
