Repository SchemaStore/schemastore, pull requests merged in 2024-08, with the labels that each got.

#3975 Fix old references to `schema-validation.json`
  .github/labeler.yml
  CONTRIBUTING.md
  cli.js
Labels: ci, documentation, NodeJS

#3981 Tweak documentation
  CONTRIBUTING.md
  editor-features.md
Labels: documentation

#3980 Cleanup error handling and improve JSDoc formatting
  CONTRIBUTING.md
  cli.js
  jsconfig.json
  package-lock.json
Labels: documentation

#4001 Various enhancements to CI
  .github/ISSUE_TEMPLATE/feature_request_new_schema.yml
  .github/ISSUE_TEMPLATE/feature_request_website.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/codeowners-merge.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/nodejs.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
Labels: ci, documentation, NodeJS

#4000 Use additional softwares to optionally "lint" JSON schemas
  .gitignore
  .prettierrc.cjs
  CONTRIBUTING.md
  cli.js
  config/.spectral-draft04.yaml
  config/.spectral-draft06.yaml
  config/.spectral-draft07.yaml
  package-lock.json
  package.json
  src/schemas/json/partial-eslint-plugins.json
Labels: documentation, config:gitignore, cli.js

#4015 Improve option handling in CLI
  cli.js
Labels: cli.js

#4017 Fix lint command
  cli.js
  package.json
Labels: cli.js

#4033 Use "npm run" instead of "node ./cli.js" in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#4034 Fix .editorconfig for JS files
  .editorconfig
Labels: config:editorconfig

#4035 Add CLI command to validate one or all schemas against the strict meta schema
  CONTRIBUTING.md
  cli.js
  package.json
Labels: documentation, cli.js

#4040 Revert "Use "npm run" instead of "node ./cli.js" in CONTRIBUTING.md"
  CONTRIBUTING.md
Labels: documentation

#4028 Remove coverage from help output
  cli.js
Labels: cli.js
