Repository SchemaStore/schemastore, pull requests merged in 2024-05, with the labels that each got.

#3764 add rc3 schemas
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/rc3-auth-0.0.3.json
  src/schemas/json/rc3-collection-0.0.3.json
  src/schemas/json/rc3-environment-0.0.3.json
  src/schemas/json/rc3-folder-0.0.3.json
  src/schemas/json/rc3-request-0.0.3.json
  src/schemas/json/rc3-settings-0.0.3.json
  src/test/rc3-auth-0.0.3/rc3-auth-0.0.3.json
  src/test/rc3-collection-0.0.3/rc3-collection-0.0.3.json
  src/test/rc3-environment-0.0.3/rc3-environment-0.0.3.json
  src/test/rc3-folder-0.0.3/rc3-folder-0.0.3.json
  src/test/rc3-request-0.0.3/rc3-request-0.0.3.json
  src/test/rc3-settings-0.0.3/rc3-settings-0.0.3.json
Labels: schema-validation.json

#3767 Added abc-supply-plan.json to SchemaStore
  src/api/json/catalog.json
  src/negative_test/abc-supply-plan-1.0.0/abc-suppply-plan-extraneous-key.json
  src/negative_test/abc-supply-plan-1.0.0/abc-suppply-plan-invalid-fractional-lot-size.json
  src/negative_test/abc-supply-plan-1.0.0/abc-suppply-plan-invalid-planDate.json
  src/negative_test/abc-supply-plan-1.0.0/abc-suppply-plan-invalid-strings-as-numbers.json
  src/schema-validation.json
  src/schemas/json/abc-supply-plan-1.0.0.json
  src/test/abc-supply-plan-1.0.0/abc-supply-plan.json
Labels: schema-validation.json

#3771 Add v3 taskfile schema
  src/schema-validation.json
  src/schemas/json/task.json
  src/test/task/example.json
  src/test/task/example1.yaml
  src/test/task/example2.yaml
Labels: schema-validation.json

#3785 Adding lsdl schema version 4.1
  src/schema-validation.json
  src/schemas/json/lsdlschema-4.1.json
  src/schemas/json/lsdlschema.json
Labels: schema-validation.json

#3797 Revert changes to `task` schema
  src/schema-validation.json
  src/schemas/json/task.json
  src/test/task/example.json
  src/test/task/example1.yaml
  src/test/task/example2.yaml
Labels: schema-validation.json

#3799 ci: Fix `codeowners-merge.yml` job permissions
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

#3784 Disable pre-commit prettier hook, fix schema issues, update deps
  .editorconfig
  .pre-commit-config.yaml
  src/api/json/catalog.json
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schemas/json/chrome-manifest.json
  src/schemas/json/clang-tidy.json
  src/schemas/json/clangd.json
  src/schemas/json/dependabot-2.0.json
  src/schemas/json/github-issue-forms.json
  src/schemas/json/hugo.json
  src/schemas/json/jsconfig.json
  src/schemas/json/rust-toolchain.json
  src/schemas/json/tsconfig.json
  src/scripts/pre-commit-script.sh
  src/test/clang-tidy/clang-tidy-grpc.yaml
  src/test/dependabot-2.0/groups.yaml
  src/test/dependabot-2.0/issue-3777.yaml
  src/test/rust-toolchain/components-any-3782.toml
Labels: NodeJS, editorconfig, schema-validation.json

#3800 Update monika JSON schema
  src/schema-validation.json
  src/schemas/json/monika-config-schema.json
Labels: schema-validation.json

#3817 Re-enable Prettier
  .pre-commit-config.yaml
  .prettierrc.cjs
  src/schema-validation.json
  src/schemas/json/clang-tidy.json
  src/test/clang-tidy/dump-clang-tidy.yaml
Labels: schema-validation.json

#3801 Move `package.json` to parent directory
  .c8rc.json
  .eslintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/nodejs.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc.cjs
  CONTRIBUTING.md
  Gruntfile.cjs
  package-lock.json
  package.json
  scripts/coverage.sh
  scripts/dirty_repository_check.sh
  src/scripts/pre-commit-script.sh
Labels: ci, documentation, NodeJS, gitignore

#3818 Tweak docs and remove unused data
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  editor-features.md
  src/schema-validation.json
  src/schemas/json/cargo.json
Labels: ci, documentation, NodeJS, schema-validation.json

#3819 Remove duplicate field from CONTRIBUTING.md code block
  CONTRIBUTING.md
Labels: documentation

#3828 Tweak documentation
  CONTRIBUTING.md
  editor-features.md
Labels: documentation

#3829 ci: Use `code-owner-self-merge` fork with some fixes
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS
