Repository SchemaStore/schemastore, pull requests merged in 2024-07, with the labels that each got.

#3898 Update npm command
  CONTRIBUTING.md
Labels: documentation

#3915 Gaspar version update
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/gaspar-3.0.json
  src/test/gaspar-3.0/gaspar-3.0.json
Labels: schema-validation.json

#3846 Remove Grunt
  .c8rc.json
  .eslintrc.json
  .git-blame-ignore-revs
  .github/labeler.yml
  CONTRIBUTING.md
  Gruntfile.cjs
  cli.js
  package-lock.json
  package.json
  scripts/coverage.sh
  src/test/package/package-test3.json
Labels: ci, documentation, NodeJS

#3920 Update dependencies and tweak comments, async
  .eslintrc.json
  .github/workflows/codeowners-merge.yml
  cli.js
  eslint.config.js
  package-lock.json
  package.json
Labels: ci, NodeJS

#3922 feat: :sparkles: added schema for boyka-config.json of boyka framework project
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/boyka-config.json
  src/test/boyka-config/boyka-config-android.json
  src/test/boyka-config/boyka-config-api.json
  src/test/boyka-config/boyka-config-ios.json
  src/test/boyka-config/boyka-config-web.json
Labels: schema-validation.json
