Repository SchemaStore/schemastore, pull requests merged in 2024-01, with the labels that each got.

#3476 Add schemas for Fusion resource pack metadata
  src/api/json/catalog.json
  src/negative_test/minecraft-texture-mcmeta/fusion-with-vanilla-properties.json
  src/schema-validation.json
  src/schemas/json/minecraft-pack-mcmeta.json
  src/schemas/json/minecraft-texture-mcmeta.json
  src/schemas/json/partial-fusion-pack-metadata.json
  src/schemas/json/partial-fusion-texture-metadata.json
  src/test/minecraft-pack-mcmeta/fusion-properties.json
  src/test/minecraft-texture-mcmeta/fusion-connecting-texture.json
  src/test/minecraft-texture-mcmeta/fusion-scrolling-texture.json
Labels: schema-validation.json

#3489 docs: Document the `partial-` filename pattern
  CONTRIBUTING.md
Labels: doc_md

#3490 site: Update serving stat
  src/json.cshtml
Labels: WARNING_AspNetFiles

#3493 Add Rudder techniques json schema
  src/api/json/catalog.json
  src/negative_test/rudder-techniques/1.yml
  src/schema-validation.json
  src/schemas/json/rudder-techniques.json
  src/test/rudder-techniques/1.yml
  src/test/rudder-techniques/10.yml
  src/test/rudder-techniques/11.yml
  src/test/rudder-techniques/12.yml
  src/test/rudder-techniques/13.yml
  src/test/rudder-techniques/14.yml
  src/test/rudder-techniques/2.yml
  src/test/rudder-techniques/3.yml
  src/test/rudder-techniques/4.yml
  src/test/rudder-techniques/5.yml
  src/test/rudder-techniques/6.yml
  src/test/rudder-techniques/7.yml
  src/test/rudder-techniques/8.yml
  src/test/rudder-techniques/9.yml
Labels: schema-validation.json

#3488 Add hyperupcall to CODEOWNERs for all files
  .github/CODEOWNERS
Labels: GitHub_ci_folder

#3514 ci: Do not run labeler and CODEOWNERS GitHub Actions in forks
  .github/workflows/codeowners-merge.yml
  .github/workflows/labeler.yml
Labels: ci, NodeJS

#3517 Add schema for `dotnet-tools.json` manifest file
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/dotnet-tools.json
  src/test/dotnet-tools/dotnet-tools.json
Labels: schema-validation.json

#3520 ci: Do not run codeowners merge workflow on draft PRs
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

#3526 Add Pyright as a subschema of PyProject
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/partial-pyright.json
  src/schemas/json/pyproject.json
Labels: schema-validation.json

#3530 Add "x-intellij-html-description" fields for partial-pyright.json
  src/schema-validation.json
  src/schemas/json/partial-pyright.json
Labels: schema-validation.json

#3453 feat: Add schemas from popular ESLlint plugins
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/ava.json
  src/schemas/json/eslintrc.json
  src/schemas/json/jscpd.json
  src/schemas/json/npm-badges.json
  src/schemas/json/package.json
  src/schemas/json/partial-eslint-plugins.json
  src/schemas/json/prettierrc.json
  src/schemas/json/semantic-release.json
  src/schemas/json/stylelintrc.json
Labels: schema-validation.json

#3531 Add another guideline for creating `partial-` "subschemas"
  CONTRIBUTING.md
Labels: documentation

#3521 Use `code-owner-self-merge` fork that supports optional pinging
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

#3533 Add markdownDescription and x-intellij-html-description to partial-mypy
  src/schema-validation.json
  src/schemas/json/partial-mypy.json
  src/schemas/json/partial-pyright.json
Labels: schema-validation.json

#3550 Update GitHub labeler action to v5
  src/api/json/catalog.json
  src/negative_test/pull-request-labeler-5/bad-changed-files.yml
  src/negative_test/pull-request-labeler-5/bad-toplevel.yml
  src/negative_test/pull-request-labeler-5/bad-type.yml
  src/schema-validation.json
  src/schemas/json/pull-request-labeler-5.json
  src/test/pull-request-labeler-5/examples.yml
Labels: schema-validation.json

#3519 Use shared timezone and license data from `base.json`
  src/schema-validation.json
  src/schemas/json/apibuilder.json
  src/schemas/json/app-config.json
  src/schemas/json/appsscript.json
  src/schemas/json/base-04.json
  src/schemas/json/base.json
  src/schemas/json/bower.json
  src/schemas/json/cargo.json
  src/schemas/json/clib.json
  src/schemas/json/dependabot-2.0.json
  src/schemas/json/fabric.mod.json
  src/schemas/json/foxx-manifest.json
  src/schemas/json/grafana-dashboard-5.x.json
  src/schemas/json/hugo-theme.json
  src/schemas/json/hugo.json
  src/schemas/json/licenses.1.json
  src/schemas/json/package.json
  src/schemas/json/partial-poetry.json
  src/schemas/json/publiccode.json
  src/schemas/json/pulumi.json
  src/schemas/json/pyproject.json
  src/schemas/json/swagger-2.0.json
  src/schemas/json/tsoa.json
Labels: schema-validation.json

#3556 Improve documentation, `schema-validation.json` structure, and `catalog.json` entries
  .prettierrc.cjs
  CONTRIBUTING.md
  editor-features.md
  src/Gruntfile.cjs
  src/api/json/catalog.json
  src/package-lock.json
  src/package.json
  src/schema-validation.json
  src/schema-validation.schema.json
Labels: documentation, NodeJS, schema-validation.json, gruntfile
