Repository SchemaStore/schemastore, pull requests merged in 2024-12, with the labels that each got.

#4272 Update the fileMatch files for Okteto
  README.md
  src/api/json/catalog.json
Labels: documentation

#4299 Update dependencies and fix GitHub ordering
  package-lock.json
  package.json
  src/api/json/catalog.json
Labels: cli.js

#4278 Add `.ctfd.yaml` JSON schema
  .github/CODEOWNERS
  cli.js
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/ctfd.json
  src/test/ctfd/minimal.yaml
Labels: ci, cli.js

#4301 Recommended an approach for documenting enums
  CONTRIBUTING.md
Labels: documentation

#4304 Format TOML files with `prettier-plugin-toml`
  .pre-commit-config.yaml
  .prettierrc.cjs
  package-lock.json
  package.json
  src/negative_test/hugo-theme/basic-requirement.toml
  src/negative_test/hugo-theme/incorrect-values.toml
  src/negative_test/hugo-theme/mistake-author-s.toml
  src/negative_test/pyproject/cibuildwheel-bad-inherit.toml
  src/negative_test/pyproject/dependency-groups-1.toml
  src/negative_test/pyproject/dependency-groups-2.toml
  src/negative_test/pyproject/dependency-groups-3.toml
  src/negative_test/pyproject/dynamic-version-specified.toml
  src/negative_test/pyproject/extra-top-level.toml
  src/negative_test/pyproject/pdm-script-method-exclusive.toml
  src/negative_test/pyproject/pdm-source-no-name.toml
  src/negative_test/pyproject/poetry-plugin-dotenv-example-1.toml
  src/negative_test/pyproject/poetry-source-4.toml
  src/negative_test/pyproject/tox-invalid-legacy.toml
  src/negative_test/pyproject/version-unspecified.toml
  src/test/bunfig/bunfig.toml
  src/test/cibuildwheel/cibuildwheel-default.toml
  src/test/hatch/collector-env.toml
  src/test/hatch/oroborous.toml
  src/test/hemtt-0.6.2/hemtt-test.toml
  src/test/hugo-theme/multiple-authors.toml
  src/test/hugo-theme/single-author.toml
  src/test/pantsbuild-2.14.0/pants.toml
  src/test/pyproject/01-setuptools.toml
  src/test/pyproject/02-setuptools.toml
  src/test/pyproject/03-setuptools.toml
  src/test/pyproject/04-setuptools.toml
  src/test/pyproject/05-setuptools.toml
  src/test/pyproject/06-setuptools.toml
  src/test/pyproject/07-setuptools.toml
  src/test/pyproject/3821.toml
  src/test/pyproject/cibuildwheel-default.toml
  src/test/pyproject/dependency-groups-2.toml
  src/test/pyproject/dependency-groups-3.toml
  src/test/pyproject/dynamic.toml
  src/test/pyproject/mypy-01.toml
  src/test/pyproject/mypy-02.toml
  src/test/pyproject/pdm_tool.toml
  src/test/pyproject/poetry-author-no-email.toml
  src/test/pyproject/poetry-capital-in-author-email.toml
  src/test/pyproject/poetry-complete.toml
  src/test/pyproject/poetry-readme-files.toml
  src/test/pyproject/poetry-sample-project.toml
Labels: cli.js

#4308 Fix assertion checks in `cli.js`
  cli.js
Labels: cli.js

#4307 Add Jest, update GeoJSON schema
  cli.js
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/geojson.json
  src/schemas/json/jest.json
  src/schemas/json/ninjs-2.0.json
  src/test/geojson/multi-polygon-2.json
  src/test/geojson/multi-polygon-3.json
  src/test/geojson/multi-polygon.json
  src/test/jest/jest.json
Labels: cli.js

#4312 fix: Dofigen JSON Schema
  CONTRIBUTING.md
  src/schema-validation.jsonc
  src/schemas/json/dofigen.json
  src/test/dofigen/test.dofigen.yaml
Labels: documentation
