Repository SchemaStore/schemastore, pull requests merged in 2024-02, with the labels that each got.

#3559 feat: add black to pyproject.toml
  src/Gruntfile.cjs
  src/api/json/catalog.json
  src/negative_test/pyproject/black-invalid.toml
  src/negative_test/pyproject/black-target.toml
  src/schema-validation.json
  src/schemas/json/partial-black.json
  src/schemas/json/pyproject.json
  src/test/pyproject/black-examp1.toml
  src/test/pyproject/black-examp2.toml
Labels: schema-validation.json, gruntfile

#3573 Update Aurora framework schema to version 1.1
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/aurora-1.1.json
  src/test/aurora-1.1/author.aurora.yaml
  src/test/aurora-1.1/book.aurora.yaml
  src/test/aurora-1.1/country.aurora.yaml
  src/test/aurora-1.1/lang.aurora.yaml
Labels: schema-validation.json

#3592 ci: Update code-owner-self-merge ref
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

#3597 Add MetricsHub schema
  src/api/json/catalog.json
  src/negative_test/metricshub/metricshub.yaml
  src/schema-validation.json
  src/schemas/json/metricshub.json
  src/test/metricshub/metricshub.yaml
Labels: schema-validation.json

#3611 Added metricshub connector schema to schemastore
  src/api/json/catalog.json
  src/negative_test/metricshub-connector/metricshub-connector.yaml
  src/schema-validation.json
  src/schemas/json/metricshub-connector.json
  src/test/metricshub-connector/metricshub-connector.yaml
Labels: schema-validation.json
