Repository SchemaStore/schemastore, pull requests merged in 2024-09, with the labels that each got.

#4048 feat(youtrack-app): add JetBrains YouTrack App schema
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/youtrack-app/empty-permissions-list.json
  src/negative_test/youtrack-app/icon-path-incorrect.json
  src/negative_test/youtrack-app/required-field-not-provided.json
  src/schema-validation.jsonc
  src/schemas/json/youtrack-app.json
  src/test/youtrack-app/youtrack-app.json
Labels: ci

#4050 chores(youtrack-app): apply review suggestions
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/schemas/json/youtrack-app.json
Labels: ci

#4101 Tweak `cli.js` output color and format
  .pre-commit-config.yaml
  cli.js
Labels: cli.js

#4103 Add `hyperupcall` to `FUNDING.yml`
  .github/FUNDING.yml
Labels: ci

#4090 Add Emacs to "Supporting editors" in json.cshtml
  src/json.cshtml
Labels: WARNING_AspNetFiles

#4111 General improvements
  CONTRIBUTING.md
  cli.js
  editor-features.md
  package.json
  src/json.cshtml
Labels: WARNING_AspNetFiles, documentation, cli.js

#4113 Refactor strict-check
  cli.js
Labels: cli.js
