Repository SchemaStore/schemastore, pull requests merged in 2024-04, with the labels that each got.

#3693 Add Phrase config
  src/api/json/catalog.json
  src/schema-validation.json
  src/schemas/json/phrase.json
  src/test/phrase/.phrase.yml
Labels: schema-validation.json

#3703 Replace use of `code-owner-self-merge` fork with upstream ref
  .github/workflows/codeowners-merge.yml
Labels: ci, NodeJS

#3705 Fix several small issues
  CONTRIBUTING.md
  src/schema-validation.json
  src/schemas/json/eslintrc.json
  src/schemas/json/function.json
  src/schemas/json/github-workflow.json
  src/schemas/json/jekyll.json
  src/schemas/json/jsconfig.json
  src/schemas/json/kubernetes-definitions.json
  src/schemas/json/sourcemap-v3.json
  src/schemas/json/tsconfig.json
  src/test/eslintrc/withReportUnusedDisableDirectives.json
  src/test/jekyll/issue-3702.yaml
Labels: documentation, schema-validation.json

#3720 Tweak Jekyll and ESLint plugin rules
  CONTRIBUTING.md
  src/schemas/json/jekyll.json
  src/schemas/json/partial-eslint-plugins.json
Labels: documentation

#3728 Update vtesttree schema to v2.2
  src/negative_test/vtesttree-schema/variant-dependencies-in-v210.vtesttree.yaml
  src/negative_test/vtesttree-schema/variant-dependencies-numeric.vtesttree.yaml
  src/schema-validation.json
  src/schemas/json/vtesttree-schema.json
  src/test/vtesttree-schema/variant-dependencies.vtesttree.yaml
Labels: schema-validation.json
