Repository SchemaStore/schemastore, pull requests merged in 2024-10, with the labels that each got.

#4144 Fix 404ing link on homepage (#4142)
  src/json.cshtml
Labels: WARNING_AspNetFiles

#4164 Remove `brokenurl.yml`
  .github/workflows/brokenurl.yml
Labels: ci

#4169 October's Wednesday Fixes
  .github/workflows/nodejs.yml
  .prettierrc.cjs
  CONTRIBUTING.md
  cli.js
  package-lock.json
  package.json
  src/api/json/catalog.json
Labels: ci, documentation, cli.js
