Repository SchemaStore/schemastore, pull requests merged in 2025-05, with the labels that each got.

#4693 Add workflow for publishing to site
  cli.js
Labels: cli.js

#4694 Upgrade dependencies
  .pre-commit-config.yaml
  package-lock.json
  package.json
Labels: cli.js

#4696 Update `prettier-plugin-toml` to `v2.0.5`
  .pre-commit-config.yaml
  package-lock.json
  package.json
Labels: cli.js

#4690 Cinnamon spices
  .gitignore
  src/api/json/catalog.json
  src/negative_test/cinnamon-spice.info/additional-properties.json
  src/negative_test/cinnamon-spice.info/author-only-additional-properties.json
  src/negative_test/cinnamon-spice.info/missing-properties.json
  src/negative_test/cinnamon-spice.info/no-properties.json
  src/schema-validation.jsonc
  src/schemas/json/cinnamon-spice.info.json
  src/test/cinnamon-spice.info/valid-all-properties.json
  src/test/cinnamon-spice.info/valid-author-only.json
  src/test/cinnamon-spice.info/valid-minimum-properties.json
Labels: config:gitignore

#4721 Add venvironment(-basic) schemas v4.0.0 and venvplus(-basic) schema v1.0.0
  .github/CODEOWNERS
  src/api/json/catalog.json
  src/negative_test/venvironment-basic-schema-v4.0.0/invalid-version.yaml
  src/negative_test/venvironment-basic-schema-v4.0.0/missing-version.yaml
  src/negative_test/venvironment-schema-v4.0.0/invalid-version.yaml
  src/negative_test/venvironment-schema-v4.0.0/missing-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/invalid-version.yaml
  src/negative_test/venvplus-basic-schema-v1.0.0/missing-version.yaml
  src/negative_test/venvplus-schema-v1.0.0/invalid-version.yaml
  src/negative_test/venvplus-schema-v1.0.0/missing-version.yaml
  src/schemas/json/venvironment-basic-schema-v4.0.0.json
  src/schemas/json/venvironment-schema-v4.0.0.json
  src/schemas/json/venvplus-basic-schema-v1.0.0.json
  src/schemas/json/venvplus-schema-v1.0.0.json
  src/test/venvironment-basic-schema-v4.0.0/empty.yaml
  src/test/venvironment-basic-schema-v4.0.0/unicode-1.yaml
  src/test/venvironment-basic-schema-v4.0.0/vcdls.yaml
  src/test/venvironment-schema-v4.0.0/can-and-canfd.yaml
  src/test/venvironment-schema-v4.0.0/empty.yaml
  src/test/venvironment-schema-v4.0.0/unicode-1.yaml
  src/test/venvironment-schema-v4.0.0/unicode-2.yaml
  src/test/venvironment-schema-v4.0.0/vcdls.yaml
  src/test/venvironment-schema-v4.0.0/xcp.yaml
  src/test/venvplus-basic-schema-v1.0.0/empty.yaml
  src/test/venvplus-basic-schema-v1.0.0/offline-config.yaml
  src/test/venvplus-schema-v1.0.0/empty.yaml
  src/test/venvplus-schema-v1.0.0/offline-config.yaml
Labels: ci

#4724 Allow use of `raw.githubusercontent.com` links
  cli.js
  src/api/json/catalog.json
Labels: cli.js

#4726 Add note on transitive schemas in `externalSchema`
  CONTRIBUTING.md
Labels: documentation

#4730 [Bug Fix] Added `outputs` property to the `workflow_call` object of GitHub Workflow schema
  .gitignore
  src/schemas/json/github-workflow.json
Labels: config:gitignore

#4728 Add workflow to automatically create updated xregistry PRs
  .github/workflows/auto-update.yml
Labels: ci

#4745 Fix install dependencies in `github-pages.yml` workflow
  .github/workflows/github-pages.yml
Labels: ci
