Repository SchemaStore/schemastore, pull requests merged in 2025-03, with the labels that each got.

#4513 Move the `tool` table of `pyproject.toml` to a new schema
  CONTRIBUTING.md
  src/schema-validation.jsonc
  src/schemas/json/pep-723.json
  src/schemas/json/pyproject-tools.json
  src/schemas/json/pyproject.json
  src/test/pyproject-tools/pyproject-tools.toml
Labels: documentation

#4534 feat: add CODEOWNER
  .github/CODEOWNERS
Labels: ci

#4542 Revert "Move the `tool` table of `pyproject.toml` to a new schema (#4…
  CONTRIBUTING.md
  src/schema-validation.jsonc
  src/schemas/json/pep-723.json
  src/schemas/json/pyproject-tools.json
  src/schemas/json/pyproject.json
  src/test/pyproject-tools/pyproject-tools.toml
Labels: documentation

#4575 Update x tombi
  CONTRIBUTING.md
Labels: documentation

#4595 Update Codeowners action to test bugfix
  .github/workflows/codeowners-merge.yml
Labels: ci

#4603 Fix various schema bugs and `cli.js` improvements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/label-prs.yml
  .github/workflows/pre-commit-checks.yml
  .github/workflows/stale-prs.yml
  .github/workflows/validate.yml
  CONTRIBUTING.md
  cli.js
  src/schema-validation.jsonc
  src/schemas/json/assetlinks.json
  src/schemas/json/circleciconfig.json
  src/schemas/json/coffeelint.json
  src/schemas/json/gaspar-1.0.json
  src/schemas/json/gaspar-3.0.json
  src/schemas/json/github-workflow.json
  src/schemas/json/helmfile.json
  src/schemas/json/hugo.json
  src/schemas/json/metaschema-draft-07-unofficial-strict.json
  src/schemas/json/partial-setuptools.json
  src/schemas/json/prometheus.json
  src/test/coffeelint/issue-4523.json
  src/test/detekt-1.14.1/default-detekt-config.json
  src/test/detekt-1.22.0/default-detekt-config.json
  src/test/detekt-1.22.0/generated-detekt-config.json
  src/test/gitea-issue-forms/official-example.yml
  src/test/hugo/4526.toml
  src/test/tslint/tslint-test8.json
Labels: ci, documentation, cli.js

#4605 Fix validation to automatically allow popular unofficial keyword extensions
  CONTRIBUTING.md
  cli.js
  src/schema-validation.jsonc
Labels: documentation, cli.js

#4606 Add TypeScript typechecking and configure for CI
  .github/workflows/validate.yml
  cli.js
  jsconfig.json
  package-lock.json
  package.json
Labels: ci, cli.js

#4609 docs: encourage use of simple catalog fileMatch patterns
  CONTRIBUTING.md
Labels: documentation

#4611 Fix contributiong
  CONTRIBUTING.md
Labels: documentation
