Repository SchemaStore/schemastore, pull requests merged in 2025-02, with the labels that each got.

#4452 Enhancements to `cli.js` and `CONTRIBUTING.md`
  CONTRIBUTING.md
  cli.js
  jsconfig.json
Labels: documentation, cli.js

#4455 cli: Remove some deprecations, improve console output, improve typings
  cli.js
  package.json
Labels: cli.js

#4464 Update to latest `code-owner-self-merge` version
  .github/workflows/codeowners-merge.yml
Labels: ci

#4466 Assorted `cli.js` and schema fixes
  .github/workflows/codeowners-merge.yml
  cli.js
  eslint.config.js
  src/api/json/catalog.json
  src/schema-validation.jsonc
  src/schemas/json/pantsbuild-2.24.0.json
Labels: ci, cli.js

#4479 feat: add tombi description.
  CONTRIBUTING.md
Labels: documentation

#4500 Update clangd schema to v20, improve `cli.js`, and schema fixes
  .pre-commit-config.yaml
  CONTRIBUTING.md
  cli.js
  package-lock.json
  package.json
  src/schema-validation.jsonc
  src/schemas/json/clangd.json
  src/schemas/json/package.json
  src/test/package/exports-test8.json
Labels: documentation, cli.js
