Repository SchemaStore/schemastore, pull requests merged in 2025-06, with the labels that each got.

#4766 Add styles and script to GitHub pages website directory
  .github/workflows/github-pages.yml
  cli.js
Labels: ci, cli.js

#4772 Fix to support current AzureWebsite redirect
  cli.js
Labels: cli.js

#4795 ci: avoid workflow running in fork
  .github/workflows/github-pages.yml
Labels: ci
